<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 78 - Be Thou My Vision </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng78"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">78</span
      ><span class="title-text"> - Be Thou My Vision</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/77/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Be Thou my Vision, O Lord of my heart -<br>
Nought be all else to me, save that Thou art;<br>
Thou my best thought, by day or by night -<br>
Waking or sleeping, Thy presence my light.</p>
<p><strong>Verse 2</strong><br>
Be Thou my Wisdom, and Thou my true Word –<br>
I ever with Thee and Thou with me, Lord;<br>
Thou my great Father, I Thy true son –<br>
Thou in me dwelling, and I with Thee one.</p>
<p><strong>Verse 3</strong><br>
Riches I heed not, nor man’s empty praise –<br>
Thou mine inheritance, now and always;<br>
Thou and Thou only, first in my heart –<br>
High King of heaven, my Treasure Thou art.</p>
<p><strong>Verse 4</strong><br>
High King of heaven, my victory won,<br>
May I reach heaven’s joys,<br>
O bright heav’n’s Sun!<br>
Heart of my own heart, whatever befall,<br>
Still be my Vision, O Ruler of all.</p>
<p><em>(Mary E. Byrne, Eleanor H. Hull, Irish hymn c. 8th century)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/79/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
