<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 70 - We Have Oil In Our Lamps - We Are Burning! </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng70"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">70</span
      ><span class="title-text"> - We Have Oil In Our Lamps - We Are Burning!</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/69/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
We have oil in our lamps - we are burning!<br>
We have oil in our lamps today!<br>
To the spirit, O Lord, keep us turning,<br>
Keep us turning, turning all the way!</p>
<p>O Lord! Amen! Hallelujah!<br>
We are burning, burning everyday!<br>
O Lord! Amen! Hallelujah!<br>
Turning, turning all the way.</p>
<p><strong>Verse 2</strong><br>
But our vessels need oil for Thy coming;<br>
We must gain a reserve supply.<br>
So our vessels we give for the filling<br>
That our lamps may never, never die.</p>
<p>Fill us, Jesus! Fill us, Jesus!<br>
Every moment give us more of Thee!<br>
Fill us, Jesus! Fill us, Jesus!<br>
Fill us with reality!</p>
<p><strong>Verse 3</strong><br>
Then we’ll burn till the Lord comes to meet us,<br>
Then we’ll burn till He comes that day.<br>
Then we’ll go in with Him to the wedding<br>
And be brightly burning all the way.</p>
<p>Come, Lord Jesus! Come, Lord Jesus!<br>
Come and find us filled and burning bright!<br>
Come, Lord Jesus! Come, Lord Jesus!<br>
Come and in Thy Bride delight.</p>
<p><em>(Ref: Matthew 25:1-13)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/71/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
