<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 43 - My Living Sacrifice </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng43"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">43</span
      ><span class="title-text"> - My Living Sacrifice</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/42/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
My heart longs for You, my Saviour.<br>
I would follow You, my Lord.<br>
Your kindness and love are vast as the skies.<br>
Your faithfulness never dies.<br>
My God and my King, Your great name I sing.<br>
My off&rsquo;ring of praise I bring.</p>
<p><strong>Chorus</strong><br>
Jesus, O Jesus, I give You my life.<br>
Jesus, O Jesus, I give You my life.</p>
<p><strong>Verse 2</strong><br>
My soul contemplates Your glory.<br>
I worship in holy awe.<br>
In quietness and in confident trust,<br>
I rest in all that You are.<br>
I&rsquo;ll sing to the world Your glory and grace<br>
Until I behold Your face.</p>
<p><em>(Leila Hamrat &amp; Claude Fraysse)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/44/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
