<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 62 - You Are My All In All </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng62"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">62</span
      ><span class="title-text"> - You Are My All In All</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/61/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
You are my strength when I am weak,<br>
You are the treasure that I seek,<br>
You are my All in All.<br>
Seeking you as a precious jewel,<br>
Lord to give up I&rsquo;d be a fool,<br>
You are my All in All</p>
<p><strong>Chorus</strong><br>
Jesus, Lamb of God, worthy is Your Name!<br>
Jesus, Lamb of God, worthy is Your Name!</p>
<p><strong>Verse 2</strong><br>
Taking my sin, my cross, my shame,<br>
Rising again I bless Your name.<br>
You are my All in All.<br>
When I fall down, You pick me up;<br>
When I am dry, You fill my cup.<br>
You are my All in All.</p>
<p><em>(Dennis L. Jernigan / Ref: 2 Corinthians 12:9-10; Colossians 3:11)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/63/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
