<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 120 - I Love You! </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng120"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">120</span
      ><span class="title-text"> - I Love You!</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/119/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Let me stand behind You, Lord.<br>
Let me wash Your feet with my tears.<br>
Let me wipe them with my hair.<br>
Let me kiss them and anoint them with the ointment.</p>
<p>I love You!<br>
Jesus, I love You!<br>
May I waste my all and life on You.<br>
Let me pour the ointment pure<br>
On Your head and on Your feet,<br>
On You, Most Precious One<br>
Because I love You.</p>
<p><strong>Verse 2</strong><br>
Let me take a pound of ointment pure<br>
Of great value to anoint Your feet<br>
And wipe them with my hair<br>
That the house be filled with the fragrance of the ointment.<br>
(Repeat Chorus 1)</p>
<p><strong>Verse 3</strong><br>
Lord, they say if You were a prophet,<br>
You should know who and what I am.<br>
I&rsquo;m a sinner that toucheth You,<br>
A woman not worthy to anoint You.</p>
<p>But I love You!<br>
Jesus, I love You!<br>
You forgave me the most<br>
Now I love You, Lord, the most.<br>
Let me pour the ointment pure<br>
On Your head and on Your feet,<br>
On You, most precious one,<br>
Because You love me.</p>
<p><strong>Verse 4</strong><br>
Let my love from my being wash your feet<br>
To my glory without wipe them too.<br>
Let me kiss them where the nails would pierce.<br>
All my love, Lord, and glory I&rsquo;ll waste on You.</p>
<p>I love You!<br>
Jesus, I love you!<br>
All my glory and love<br>
I pour and waste on You.<br>
Receive my ointment, Lord.<br>
It&rsquo;s all I have, dear Lord,<br>
For You, most precious one,<br>
Because I love You.</p>
<p><em>(Luke 7:36-50)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/121/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
