<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 99 - I Will Wait, I Will Stand </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng99"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">99</span
      ><span class="title-text"> - I Will Wait, I Will Stand</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/98/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>Though my days, be dark and sullen,<br>
In my prison, hopelessness looms,<br>
Yet I&rsquo;ll wait in anticipation,<br>
For my God, He will save.<br>
Though my deeds, may be forgotten,<br>
And my dreams, seem so far away,<br>
But I&rsquo;ll learn, I&rsquo;ll learn to wait and pray,<br>
For my God, He will save.</p>
<p>I will wait, I will stand,<br>
Not bow down, to fate of man,<br>
For I know, He has a greater plan –<br>
It&rsquo;s written in the stars, and revealed in my dreams –<br>
So I&rsquo;ll wait, I will stand,<br>
Till He comes, reach for my hand,<br>
Pull me up, to a higher place,<br>
That I may rest, in His embrace.</p>
<p><em>(Lim Kai Seong)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/100/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
