<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 135 - King of Kings </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng135"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">135</span
      ><span class="title-text"> - King of Kings</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/134/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
In the darkness we were waiting<br>
Without hope, without light<br>
&lsquo;Til from Heaven You came running<br>
There was mercy in Your eyes<br>
To fulfill the law and prophets<br>
To a virgin came the word<br>
From a throne of endless glory<br>
To a cradle in the dirt</p>
<p><strong>Chorus</strong><br>
Praise the Father, praise the Son<br>
Praise the Spirit, three in one<br>
God of glory, Majesty<br>
Praise forever to the King of Kings</p>
<p><strong>Verse 2</strong><br>
To reveal the kingdom coming<br>
And to reconcile the lost<br>
To redeem the whole creation<br>
You did not despise the cross<br>
For even in your suffering<br>
You saw to the other side<br>
Knowing this was our salvation<br>
Jesus for our sake you died</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Verse 3</strong><br>
And the morning that You rose<br>
All of Heaven held its breath<br>
&lsquo;Til that stone was moved for good<br>
For the Lamb had conquered death<br>
And the dead rose from their tombs<br>
And the angels stood in awe<br>
For the souls of all who&rsquo;d come<br>
To the Father are restored</p>
<p><strong>Verse 4</strong><br>
And the church of Christ was born<br>
Then the Spirit lit the flame<br>
Now this gospel truth of old<br>
Shall not kneel, shall not faint<br>
By His blood and in His name<br>
In His freedom I am free<br>
For the love of Jesus Christ<br>
Who has resurrected me</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Outro</strong><br>
Praise forever to the King of Kings</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/136/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
