<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 85 - Come And See The Beauty Of The Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng85"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">85</span
      ><span class="title-text"> - Come And See The Beauty Of The Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/84/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Come and see the beauty of the Lord.<br>
Come and know the wonder of His grace.<br>
Come and see how much He cares for you,<br>
Gaze at the compassion in His face.</p>
<p><strong>Verse 2</strong><br>
Come and touch the nail prints in His hands.<br>
Find the friend who truly understands<br>
Come and stand beneath the blood-stained cross,<br>
Proof of His unchanging love for us.</p>
<p><strong>Chorus</strong><br>
He is worthy, worthy of our praise!<br>
He is worthy, worthy of our praise!<br>
He is glorious, He is wonderful.<br>
He is everything to me.</p>
<p><strong>Verse 3</strong><br>
Come and see the stone’s been rolled away.<br>
The tomb is empty where His body lay.<br>
Why seek the living One among the dead?<br>
You won’t find Jesus there because He lives!</p>
<p><em>(Glen Green)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/86/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
