<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 102 - Dearest Lord, You&#39;ve Called Us Here </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng102"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">102</span
      ><span class="title-text"> - Dearest Lord, You&#39;ve Called Us Here</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/101/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Dearest Lord, You’ve called us here,<br>
And opened up Your heart.<br>
Oh the joy to hear Your call<br>
And enter in the Ark.<br>
Saving us from day to day,<br>
O Lord, this is Your way.<br>
In Yourself we stay afloat<br>
Above the wicked age today.</p>
<p><strong>Chorus</strong><br>
Thank You, Lord, in Your eyes, we find grace.<br>
And with opened hearts we come to You.<br>
Regardless what our friends might say to us or do,<br>
O Lord Jesus, we love You.</p>
<p><strong>Verse 2</strong><br>
Seeking of this age to taste,<br>
And of it have a part.<br>
If we only knew, dear Lord,<br>
The ways we grieve Your heart.<br>
We would come and turn to You<br>
With a repenting heart,<br>
And would give ourselves to be<br>
With You, O Lord, inside the Ark.</p>
<p><strong>Verse 3</strong><br>
Praise the Lord, we’re safe in You,<br>
Outside death-waters pour.<br>
Many things that I once loved<br>
Are on the ocean floor.<br>
Keep us open to You Lord,<br>
Don’t let us miss the mark.<br>
Hallelujah, Praise the Lord!<br>
We’re here within the church, the Ark.</p>
<p><em>(Youth Hymnbook #256 from the Church in Fountain Valley)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/103/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
