<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 30 - I&#39;m Singing For My Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng30"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">30</span
      ><span class="title-text"> - I&#39;m Singing For My Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/29/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I’m singing for my Lord<br>
Everywhere I go,<br>
Singing of His wondrous love<br>
That the world may know<br>
How He saved a wretch like me<br>
By His death on Calvary -<br>
I’m singing for my Lord<br>
Everywhere I go.</p>
<p><strong>Verse 2</strong><br>
I’m singing, but sometimes<br>
Heavy is the load<br>
For this world is not a friend<br>
To the grace of God;<br>
Yet I’ll sing the whole day long,<br>
For He fills my heart with song,<br>
I’m singing for my Lord<br>
Everywhere I go.</p>
<p><strong>Verse 3</strong><br>
I’m singing for the lost<br>
Just because I know<br>
Jesus Christ, whose precious blood<br>
Washes white as snow;<br>
If my songs to Him can bring<br>
Some lost soul I’ll gladly sing -<br>
I’m singing for my Lord<br>
Everywhere I go.</p>
<p><strong>Verse 4</strong><br>
I’m singing, for the saints<br>
As they journey home;<br>
Soon they’ll reach the happy land<br>
Where they’ll never roam,<br>
And with me they’ll join and sing<br>
Praises to our Lord and King -<br>
I’m singing for my Lord<br>
Everywhere I go.</p>
<p><em>(J. Smith &amp; R. Harper)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/31/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
