<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 11 - 耶稣赐你平安 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi11"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">11</span
      ><span class="title-text"> - 耶稣赐你平安</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/10/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>这世界虽有苦难，主耶稣是避风港湾；<br>
祂要赐你、祂要赐你平安，源源涌流不断。<strong>(2x)</strong></p>
<p>耶稣，耶稣赐你平安，<br>
耶稣赐你真正平安，<br>
深深在你心里，<br>
源源涌流不断，<br>
哦!耶稣赐你平安。</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/12/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
