<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 116 - Approved In Every Way </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng116"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">116</span
      ><span class="title-text"> - Approved In Every Way</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/115/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I want to be Your servant, Lord,<br>
To serve You each and every day.<br>
I want to give my best to You<br>
Approved in every way.</p>
<p><strong>Chorus</strong><br>
Make my life a living sacrifice<br>
The way You want me to be<br>
To serve You with all my heart<br>
Whatever the cost to me.<br>
Take me, break me, mould me, Lord<br>
As the Potter shapes the clay<br>
Pleasing You in all I do<br>
Approved in every way.</p>
<p><strong>Verse 2</strong><br>
I’ll stand before Your righteous throne<br>
To hear “Thou good and faithful one”<br>
“Well done” from the Master’s lips<br>
Approved in every way.</p>
<p><em>(Copyright: Ng Wah Lok and Voon Yuen Woh)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/117/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
