<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 89 - We Want To Live You Out More </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng89"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">89</span
      ><span class="title-text"> - We Want To Live You Out More</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/88/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
More of our hearts, dear Lord, we’d give You now,<br>
That You may grow therein and gain more room.<br>
All is waste, Lord, only You are gain,<br>
Our hearts cry out until in us You reign.</p>
<p>We leave behind all that distracts,<br>
All that draws away our eyes.<br>
We give heed to Your word<br>
Till You blossom in our hearts.</p>
<p>All unwillingness You overcome,<br>
We enter in Your rest, in You we trust.<br>
Lord, our hearts are wholly Yours,<br>
Come engrave Your name on us,<br>
We want to live You out more.</p>
<p><strong>Verse 2</strong><br>
Lord, don’t allow us to go our own way,<br>
Without reluctance, we will choose Your way.<br>
We say “amen” when You are speaking, Lord.<br>
Yes, work in us, we pray, renew our hearts.</p>
<p>Lord, we give to You our hearts<br>
For Your house on earth to build.<br>
You will live therein<br>
And give to us Your own pure being.</p>
<p>Lord, touch our sprits more from day to day<br>
Forgetting all; we just run after You.<br>
We want to know You more each day.<br>
Only see You, Christ, our aim,<br>
We want to live You out more.</p>
<p><em>(Translated from the German Hymnbook #234 from the Church in Stuttgart)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/90/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
