<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 3 - Who Shall Not Fear Your Name </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng3"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">3</span
      ><span class="title-text"> - Who Shall Not Fear Your Name</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/2/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Who shall not fear Your name, O King?<br>
O Lord of all the earth?<br>
For this is Your rightful due.<br>
In all the kingdoms of the world,<br>
The name of Jesus stands alone<br>
For there is none like You!</p>
<p><strong>Verse 2</strong><br>
Who shall not honour You, O King?<br>
O Lord of all the earth?<br>
For this is Your rightful due.<br>
In all the kingdoms of the world,<br>
The name of Jesus stands alone<br>
For there is none like You!</p>
<p><strong>Verse 3</strong><br>
Who shall not worship You, O King?<br>
O Lord of all the earth?<br>
For this is Your rightful due.<br>
In all the kingdoms of the world,<br>
The name of Jesus stands alone<br>
For there is none like You!</p>
<p><strong>Chorus</strong><br>
Who shall not fear Your Name?<br>
Who shall not honour You?<br>
Who shall not worship Christ - the King of Glory?<br>
Who shall not fear Your Name?<br>
Who shall not honour You?<br>
Who shall not worship Christ the Lord of all?</p>
<p><strong>(Repeat Verse 1)</strong></p>
<p>The name of Jesus stands alone<br>
For there is none like You!</p>
<p><em>(Oasis Worship)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/4/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
