<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 13 - 主的爱 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi13"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">13</span
      ><span class="title-text"> - 主的爱</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/12/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>(一)</strong><br>
愿主的爱与你同在，<br>
无论你在何方；<br>
愿祂祝福你心灵安康；<br>
主的爱如流水淙淙，<br>
愿你分享祂这爱，<br>
在那漫漫的黑夜，见主光；</p>
<p><strong>(副)</strong><br>
主的爱如流水淙淙，<br>
愿你分享祂这爱，<br>
以你爱，还祂爱，永相爱。</p>
<p><strong>(二)</strong><br>
与主同在，心灵轻省，<br>
更觉主爱无量，<br>
主的爱如活水甘霖，充滿我；<br>
愿我天天跟随神，<br>
定要尽心爱恩主，<br>
仰望各各他山上，主荣光。</p>
<p><strong>(副)</strong><br>
愿我天天跟随神，<br>
定要尽心爱恩主，<br>
爱慕祂，跟随祂，永属祂。</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/14/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
