<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 111 - Lord, I Do Love You More And More Each Day </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng111"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">111</span
      ><span class="title-text"> - Lord, I Do Love You More And More Each Day</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/110/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Lord, I love You more and more each day.<br>
Lord, I love You more this very day.<br>
I can’t live without You anymore.<br>
I can’t make it like I did before.</p>
<p><strong>Verse 2</strong><br>
Oh, those years when I was void of You.<br>
Lord, You rescued me when I was through.<br>
When I reminisce those other years,<br>
Emptiness, heartaches, and many tears.</p>
<p><strong>Chorus</strong><br>
Lord, I do love You more everyday.<br>
Lord, I do love You much more this very day.</p>
<p><strong>verse 3</strong><br>
Oh, that thirst that gnawed me deep within:<br>
Drove me looking for sa-tisfaction.<br>
Oh, the many things that I have tried:<br>
Left me thirsting and dissa-tisfied.</p>
<p><strong>Verse 4</strong><br>
In this endless search for something new,<br>
All the time this cry was just for You.<br>
I was blind in trying many things<br>
‘Till I drank You as my liv-ing Spring.</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Verse 5</strong><br>
Lord, You came and filled my inmost being.<br>
You’re the sweetest satisfac-tion.<br>
You’re the Spirit as my everything,<br>
Spirit in my spirit bubbling.</p>
<p><strong>Verse 6</strong><br>
Thank You, Lord, for coming into me.<br>
Now You’re spreading in me constantly.<br>
Lord, You’re making home in all my heart,<br>
As my treasure filling e-very part.</p>
<p><strong>(Chorus)</strong></p>
<p><em>(Howard Hagashi)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/112/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
