<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 15 - 让赞美飞扬 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi15"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">15</span
      ><span class="title-text"> - 让赞美飞扬</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/14/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>在这美丽的时刻， 我们相聚在一起；<br>
神的爱拥抱着我们，神的灵充满这地；<br>
当称谢进入祂的门，当赞美进入祂的院；<br>
击鼓跳舞扬声欢呼，凡有气息都要赞美祂，<br>
让赞美从四处响起，<br>
让音符在空中飞舞，<br>
让我们的心向神敞开。 <strong>（重复后三句）</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/16/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
