<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 55 - Jesus Lord, I&#39;m Captured By Thy Beauty </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng55"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">55</span
      ><span class="title-text"> - Jesus Lord, I&#39;m Captured By Thy Beauty</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/54/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Jesus Lord, I’m captured by Thy beauty,<br>
All my heart to Thee I open wide;<br>
Now set free from all religious duty,<br>
Only let me in Thyself abide.<br>
As I’m gazing here upon Thy glory,<br>
Fill my heart with radiancy divine;<br>
Saturate me, Lord, I now implore Thee,<br>
Mingle now Thy Spirit, Lord, with mine.</p>
<p><strong>Verse 2</strong><br>
Shining One - how clear the sky above me!<br>
Son of Man, I see Thee on the throne!<br>
Holy One, the flames of God consume me,<br>
Till my being glows with Thee alone.<br>
Lord, when first I saw Thee in Thy splendor,<br>
All self-love and glory sank in shame;<br>
Now my heart its love and praises render,<br>
Tasting all the sweetness of Thy name.</p>
<p><strong>Verse 3</strong><br>
Precious Lord, my flask of alabaster<br>
Gladly now I break in love for Thee;<br>
I anoint Thy head, Beloved Master;<br>
Lord, behold, I’ve saved the best for Thee.<br>
Dearest Lord, I waste myself upon Thee;<br>
Loving Thee, I’m deeply satisfied.<br>
Love outpoured from hidden depths within me,<br>
Costly oil, dear Lord, I would provide.</p>
<p><strong>Verse 4</strong><br>
My Beloved, come on spices’ mountain;<br>
How I yearn to see Thee face to face.<br>
Drink, dear Lord,<br>
From my heart’s flowing fountain,<br>
Till I rest fore’er in Thine embrace.<br>
Not alone, O Lord, do I adore Thee,<br>
But with all the saints as Thy dear Bride;<br>
Quickly come, our love is waiting for Thee;<br>
Jesus Lord, Thou wilt be satisfied.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/56/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
