<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 34 - 一生爱你 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi34"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">34</span
      ><span class="title-text"> - 一生爱你</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/33/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>亲爱的 宝贵耶穌<br>
祢爱何等地甘甜<br>
我的心深深被祢吸引<br>
爱祢是我的喜乐<br>
一生爱祢 一生敬拜祢<br>
一生爱祢 一生荣耀祢<br>
一生奉献 一生不回头<br>
一生爱祢 跟随祢</p>
<p><em>~ English ~</em><br>
So precious, my Jesus,<br>
How sweet and pure is Your love.<br>
You have drawn me deeper in love with You,<br>
My joy is filled loving You.<br>
With all my love, I will worship You.<br>
With all my life, glorify Your name.<br>
I give my life, never turn away.<br>
I will love You all my days.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/35/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
