<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 35 - 一粒麦子 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi35"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">35</span
      ><span class="title-text"> - 一粒麦子</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/34/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>一粒麦子 它若不落在地里死了<br>
不论过了多少时候 它仍旧是它自己<br>
它若愿意 让自己被掩埋被用尽<br>
就必结出许多子粒 经历生命的奇迹</p>
<p><strong>(Repeat)</strong></p>
<p><strong>(副)</strong><br>
主 我愿意 主 我愿意<br>
让自己像种子落在地里<br>
失丧生命必反得生命<br>
主 我愿意 主 我愿意<br>
放下自以为应得的权利<br>
在我身上成就祢旨意</p>
<p><strong>(桥)</strong><br>
呼召如此崇高 种子何等渺小<br>
定睛标竿直跑 必见神的荣耀<br>
呼召如此崇高 种子何等渺小<br>
定睛标竿直跑 必见神的荣耀</p>
<p><strong>(副)</strong><br>
主 我愿意 主 我愿意<br>
让自己像种子落在地里<br>
失丧生命必反得生命<br>
主 我愿意 主 我愿意<br>
放下自以为应得的权利<br>
在我身上成就祢旨意</p>
<p><em>~ English ~</em><br>
Unless a seed consents to fall into the field,<br>
Though all time can pass in waiting, the seed remains alone;<br>
If it consents to be used up, its life to yield,<br>
For the new life it’s creating, soon a harvest is grown!</p>
<p><strong>(Repeat)</strong></p>
<p><strong>Chorus</strong><br>
It’s my desire, Lord, I desire!<br>
To be a seed that falls into the field,<br>
Giving up my life to live a-new!<br>
It’s my desire, Lord, I desire!<br>
All of my rights and my pride, I will yield<br>
To obey Your word and follow You!</p>
<p><strong>Bridge</strong><br>
Lord, as is Your calling, all of me I’m giving:<br>
Like a seed I’m falling, for Your glory living!<br>
Lord, as is Your calling, all of me I’m giving:<br>
Like a seed I’m falling, for Your glory living!</p>
<p><strong>(Chorus)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/36/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
