<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 12 - 主是避难所 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi12"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">12</span
      ><span class="title-text"> - 主是避难所</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/11/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>主是我力量我力量， 主是患难中力量；<br>
主是我帮助我帮助， 主是随时帮助。<br>
主是避难所我避难所， 主是坚固避难所；<br>
主是我力量，我帮助， 惟主是避难所。<br>
大地虽有改迁， 高山虽会摇动；<br>
大海翻腾，大浪颤抖， 但我们也不害怕。<br>
阿利路亚！阿利路亚！ 阿利路亚！</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/13/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
