<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 37 - Where Your Heart Is </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng37"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">37</span
      ><span class="title-text"> - Where Your Heart Is</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/36/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Chorus</strong><br>
I guess it all comes down to where your heart is.<br>
It&rsquo;s there your thoughts and feelings all begin,<br>
But if you never give your heart to Jesus,<br>
You&rsquo;ll never really have a part in Him.</p>
<p><strong>Verse 1</strong><br>
If your treasures are in heaven,<br>
Then your heart will be there too,<br>
And the things you say and do<br>
Will show Christ&rsquo;s love.<br>
But if your treasures here on earth,<br>
Tell me where your heart will be,<br>
You&rsquo;ll never have a part in things above.</p>
<p><strong>Verse 2</strong><br>
If your mind&rsquo;s set on the Spirit,<br>
And you&rsquo;re walking in God&rsquo;s light,<br>
Then the watching world will see<br>
Christ&rsquo;s love in you.<br>
But if your mind&rsquo;s set on the earth,<br>
And the earthly things to do,<br>
In poverty you&rsquo;ll live your whole life through.</p>
<p><em>(Jon Sherberg / Ref: Romans 8:5)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/38/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
