<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 56 - Lord, Fill My Heart With Thy Grace </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng56"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">56</span
      ><span class="title-text"> - Lord, Fill My Heart With Thy Grace</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/55/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Lord, fill my heart with Thy grace,<br>
‘Cos You’re the only one who made my soul:<br>
Satisfied, filled with joy and quenched my thirst.<br>
Oh Lord, You are the only way.</p>
<p><strong>Verse 2</strong><br>
Lord, keep me burning on and on,<br>
That my heart wouldn’t move away from Thee.<br>
Live within, Your great love and keep my all to You.<br>
‘Cos Lord, You are the only way.</p>
<p><strong>Verse 3</strong><br>
Lord, teach me how to follow Thee.<br>
That our light so shine before all men.<br>
That they see our good works and glorify Thee<br>
And Lord, You are my all in all.</p>
<p><em>(C.H. Pang 1997)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/57/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
