<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 60 - Let Us Come Before His Presence With Thanksgiving </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng60"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">60</span
      ><span class="title-text"> - Let Us Come Before His Presence With Thanksgiving</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/59/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
O come, let us sing unto the Lord,<br>
Let us make a joyful noise<br>
To the rock of our salvation.<br>
O come, let us sing unto the Lord,<br>
Let us make a joyful noise<br>
To the rock of our salvation.</p>
<p><strong>Chorus</strong><br>
Let us come before His presence with thanksgiving,<br>
And make a joyful noise unto Him with psalms.<br>
For the Lord is a great God, and a great King above all gods.</p>
<p><strong>Verse 2</strong><br>
In His hands are the deep places of the earth:<br>
The strength of the hills is His also.<br>
The sea is His, and He made it:<br>
And His hands formed the dry land,<br>
And His hands formed the dry land.</p>
<p><strong>Verse 3</strong><br>
O come, let us worship and bow down:<br>
Let us kneel before the Lord, the Lord our maker.<br>
For He is our God;<br>
And we are the people of His pasture,<br>
And the sheep of His hand.</p>
<p><em>(Composer unknown / Ref: Psalms 95:1-7)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/61/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
