<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 128 - I Offer My Life </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng128"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">128</span
      ><span class="title-text"> - I Offer My Life</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/127/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
All that I am, all that I have<br>
I lay them down before you, oh Lord<br>
All my regrets, all my acclaims<br>
The joy and the pain, I&rsquo;m making them yours</p>
<p><strong>Chorus</strong><br>
Lord, I offer my life to you<br>
Everything I&rsquo;ve been through<br>
Use it for your glory<br>
Lord I offer my days to you<br>
Lifting my praise to you<br>
As a pleasing sacrifice<br>
Lord I offer you my life</p>
<p><strong>Verse 2</strong><br>
Things in the past, things yet unseen<br>
Wishes and dreams that are yet to come true<br>
All of my heart, all of my praise<br>
My heart and my hands are lifted to you</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Bridge</strong><br>
What can we give<br>
That you have not given?<br>
And what do we have<br>
That is not already yours?<br>
All we possess<br>
Are these lives we&rsquo;re living<br>
That&rsquo;s what we give to you, Lord</p>
<p><strong>(Chorus) x2</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/129/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
