<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 134 - At The Cross (Love Ran Red) </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng134"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">134</span
      ><span class="title-text"> - At The Cross (Love Ran Red)</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/133/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
There&rsquo;s a place where mercy reigns and never dies<br>
There&rsquo;s a place where streams of grace flow deep and wide<br>
Where all the love I&rsquo;ve ever found<br>
Comes like a flood<br>
Comes flowing down</p>
<p><strong>Chorus</strong><br>
At the cross<br>
At the cross<br>
I surrender my life<br>
I&rsquo;m in awe of You<br>
I&rsquo;m in awe of You<br>
Where Your love ran red<br>
And my sin washed white<br>
I owe all to You<br>
I owe all to You Jesus</p>
<p><strong>Verse 2</strong><br>
There&rsquo;s a place where sin and shame are powerless<br>
Where my heart has peace with God and forgiveness<br>
Where all the love I&rsquo;ve ever found<br>
Comes like a flood<br>
Comes flowing down</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Bridge</strong><br>
Here my hope is found<br>
Here on holy ground<br>
Here I bow down<br>
Here I bow down<br>
Here arms open wide<br>
Here You save my life<br>
Here I bow down<br>
Here I bow</p>
<p><strong>Chorus 2</strong><br>
At the cross<br>
At the cross<br>
I surrender my life<br>
I&rsquo;m in awe of You<br>
I&rsquo;m in awe of You<br>
Where Your love ran red<br>
And my sin washed white<br>
I owe all to You<br>
I owe all to You</p>
<p>I owe all to You<br>
I owe all to You Jesus</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/135/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
