<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 23 - In Eternity Past </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng23"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">23</span
      ><span class="title-text"> - In Eternity Past</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/22/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
In eternity past,<br>
For His glorious purpose,<br>
God the Father elected us in His love.<br>
Thus the Gospel did come,<br>
At the time He appoints,<br>
To turn us to the Lord,<br>
From all idols we had.</p>
<p><strong>Chorus 1</strong><br>
From darkness into light,<br>
From idols unto God,<br>
A true and living God,<br>
We are called to serve!</p>
<p><strong>Verse 2</strong><br>
We are called to be saints,<br>
Through His life He imparts,<br>
Separating us from everything unto God.<br>
&lsquo;Tis His purpose to sanctify us to Himself,<br>
From our spirit to our entire being.</p>
<p><strong>Chorus 2</strong><br>
To live a holy life<br>
Unto our Lord.<br>
Partaking of His life,<br>
Christ to express!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/24/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
