<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 139 - Goodness Of God </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng139"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">139</span
      ><span class="title-text"> - Goodness Of God</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/138/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I love You, Lord<br>
Oh, Your mercy never failed me<br>
And all my days, I&rsquo;ve been held in Your hands<br>
From the moment that I wake up<br>
Until I lay my head<br>
I will sing of the goodness of God</p>
<p><strong>Chorus</strong><br>
All my life You have been faithful<br>
All my life You have been so, so good<br>
With every breath that I am able, I will sing of the goodness of God</p>
<p><strong>Verse 2</strong><br>
I love Your voice<br>
You have led me through the fire<br>
In darkest night You are close like no other<br>
I&rsquo;ve known You as a Father I&rsquo;ve known You as a Friend<br>
I have lived in the goodness of God</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Bridge</strong><br>
Your goodness is running after, it&rsquo;s running after me<br>
Your goodness is running after, it&rsquo;s running after me<br>
With my life laid down, I&rsquo;m surrendered now<br>
I give You everything<br>
Cause Your goodness is running after, it&rsquo;s running after me</p>
<p><strong>(Chorus x2)</strong></p>
<p>Oh, I will sing of the the goodness of God<br>
Oh, I will sing of the the goodness of God</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/140/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
