<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 84 - Did You Ever Talk To God Above? </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng84"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">84</span
      ><span class="title-text"> - Did You Ever Talk To God Above?</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/83/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Did you ever talk to God above?<br>
Tell Him that you need a friend to love?<br>
Pray in Jesus’ name believing<br>
That God answers prayer.<br>
Have you told Him all your cares and woes?<br>
Every tiny little fear He knows.<br>
You can know He’ll always hear and<br>
He will answer prayer.</p>
<p><strong>Chorus</strong><br>
You can whisper in a crowd to Him.<br>
You can cry when you’re alone to Him<br>
You don’t have to pray out loud to Him;<br>
He knows your thoughts.<br>
On a lofty mountain peak, He’s there.<br>
In a meadow by a stream, He’s there.<br>
Anywhere on earth you go<br>
He’s been there from the start.</p>
<p><strong>Verse 2</strong><br>
Did you ever talk to God above?<br>
Tell Him that you need a friend to love?<br>
Pray in Jesus’ name believing<br>
That God answers prayer.<br>
Find the answer in His word, it’s true.<br>
You’ll be strong because He walks with you.<br>
By His faithfulness He’ll change you, too;<br>
God answers prayer.<br>
<strong>(Fine)</strong></p>
<p><em>(Frances Towle Rath / Ref: Psalm 139:1-2,7; 145:18; Matthew 6:8; Mark 11:24; Philippians 4:6-7)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/85/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
