<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 83 - When I Think I&#39;m Going Under </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng83"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">83</span
      ><span class="title-text"> - When I Think I&#39;m Going Under</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/82/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Chorus</strong><br>
When I think I’m going under,<br>
Part the waters, Lord.<br>
When I feel the waves around me,<br>
Calm the sea.<br>
When I cry for help, O hear me, Lord,<br>
And hold out Your hand.<br>
Touch my life, still the raging storm in me.</p>
<p><strong>Verse 1</strong><br>
Knowing You love me<br>
Through the burdens I must bear,<br>
Hearing Your footsteps,<br>
Lets me know I’m in Your care,<br>
And in the night of my life,<br>
You bring the promise of day,<br>
Here is my hand, show me the way.</p>
<p><strong>Verse 2</strong><br>
Knowing You love me<br>
Helps me face another day,<br>
Hearing Your footsteps<br>
Drives the clouds and fears away,<br>
And in the tears of my life,<br>
I see the sorrow bore.<br>
Here is my pain, heal it once more.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/84/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
