<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 47 - The Lily Of The Valley </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng47"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">47</span
      ><span class="title-text"> - The Lily Of The Valley</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/46/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I’ve found a friend in Jesus,<br>
He’s everything to me,<br>
He’s the fairest of ten thousand to my soul;<br>
The Apple-tree of trees, in Him alone I see<br>
All I need to cleanse and make me fully whole.<br>
In sorrow He’s my comfort,<br>
In trouble He’s my stay,<br>
He tells me every care on Him to roll:<br>
He’s the Apple-tree of trees,<br>
The Bright and Morning Star,<br>
He’s the fairest of ten thousand to my soul.</p>
<p><strong>Verse 2</strong><br>
He all my grief has taken,<br>
And all my sorrows borne;<br>
In temptation He’s my strong and mighty tower;<br>
I’ve all for Him forsaken, and all my idols torn<br>
From my heart, and now<br>
He keep me by His power.<br>
Though all the world forsake me,<br>
And Satan tempt me sore,<br>
Through Jesus I shall safely reach the goal:<br>
He’s the Apple-tree of trees,<br>
The Bright and Morning Star,<br>
He’s the fairest of ten thousand to my soul.</p>
<p><strong>Verse 3</strong><br>
He’ll never, never leave me, nor yet forsake me here,<br>
While I live by faith and do His blessed will;<br>
A wall of fire about me, I’ve nothing now to fear,<br>
With His manna He my hungry soul shall fill.<br>
Then sweeping up to glory<br>
To see His blessed face,<br>
Where rivers of delight shall ever roll:<br>
He’s the Apple-tree of trees,<br>
The Bright and Morning Star,<br>
He’s the fairest of ten thousand to my soul.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/48/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
