<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 104 - Come Ye Beloved Of The Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng104"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">104</span
      ><span class="title-text"> - Come Ye Beloved Of The Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/103/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Come ye beloved of the Lord<br>
And consider all the love<br>
That the Father has poured out on you.<br>
With joyful hearts in one accord<br>
Come and look upon the love<br>
Of the One who gave His all for you.</p>
<p><strong>Chorus</strong><br>
Our God withheld not His own Son,<br>
The treasure of His heart,<br>
Poured out for you.<br>
Since He already gave His Son,<br>
What now will He withhold<br>
From you, His own?</p>
<p><strong>Verse 2</strong><br>
My friend, consider then the price<br>
That so willingly He paid<br>
To redeem and win you back to Him.<br>
Consider how then you will live<br>
And just how to spend the days<br>
And the freedom He has won for you.</p>
<p><strong>Verse 3</strong><br>
With all the treasures of His throne<br>
Of the earth, and of the sky<br>
And of the universe beyond,<br>
Our Father gave instead His Son<br>
Counting His worth far beyond<br>
All the treasures of His Kingdom home.</p>
<p><em>(From Youth Hymnbook #512 from the Church in Fountain Valley)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/105/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
