<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 19 - Garment Of Praise </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng19"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">19</span
      ><span class="title-text"> - Garment Of Praise</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/18/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Chorus</strong><br>
Put on the garment of praise<br>
For the spirit of heaviness.<br>
Lift up your voice to God.<br>
Praise with the spirit and with understanding.<br>
Oh, magnify the Lord.</p>
<p><strong>Verse 1</strong><br>
All you that mourn in Zion,<br>
I have authority<br>
To appoint unto you in Zion<br>
Oil of joy that will set you free.</p>
<p><strong>Verse 2</strong><br>
Lift up the hands that hang down.<br>
Lift up the voice now still.<br>
Give unto God continuous praise.<br>
Sing forth from Zion’s hill.</p>
<p><strong>Verse 3</strong><br>
Sing to Yahweh, hallelujah.<br>
Worship and praise our God.<br>
Praise and adore Him.<br>
Bow down before Him.<br>
Oh, magnify the Lord.</p>
<p><em>(David Ingals)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/20/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
