<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 145 - Holy Forever </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng145"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">145</span
      ><span class="title-text"> - Holy Forever</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/144/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
A thousand generations falling down in worship<br>
To sing the song of ages to the Lamb<br>
And all who&rsquo;ve gone before us and all who will believe<br>
Will sing the song of ages to the Lamb</p>
<p><strong>Pre-Chorus</strong><br>
Your name is the highest<br>
Your name is the greatest<br>
Your name stands above them all<br>
All thrones and dominions<br>
All powers and positions<br>
Your name stands above them all</p>
<p><strong>Chorus</strong><br>
And the angels cry: Holy<br>
All creation cries: Holy<br>
You are lifted high, Holy<br>
Holy forever</p>
<p><strong>Verse 2</strong><br>
If you&rsquo;ve been forgiven and if you&rsquo;ve been redeemed<br>
Sing the song forever to the Lamb<br>
If you walk in freedom and if you bear His name<br>
Sing the song forever to the Lamb<br>
We&rsquo;ll sing the song forever and amen</p>
<p><strong>Chorus</strong><br>
And the angels cry: Holy<br>
All creation cries: Holy<br>
You are lifted high, Holy<br>
Holy forever<br>
Hear Your people sing: Holy<br>
To the King of kings, Holy<br>
You will always be Holy<br>
Holy forever</p>
<p><strong>Pre-Chorus x2</strong><br>
Your name is the highest<br>
Your name is the greatest<br>
Your name stands above them all<br>
All thrones and dominions<br>
All powers and positions<br>
Your name stands above them all</p>
<p><strong>Chorus</strong><br>
And the angels cry: Holy<br>
All creation cries: Holy<br>
You are lifted high, Holy<br>
Holy forever<br>
Hear Your people sing: Holy<br>
To the King of kings, Holy<br>
You will always be Holy<br>
Holy forever</p>
<p>You will always be Holy<br>
Holy forever</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/146/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
