<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 97 - A Moment Like This Is So Hard To Find </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng97"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">97</span
      ><span class="title-text"> - A Moment Like This Is So Hard To Find</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/96/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
A moment like this is so hard to find;<br>
So let me now set my heart, soul and mind,<br>
To commune with You in reverent prayer;<br>
Here, now, prostrate this portion to bear:</p>
<p><strong>Refrain 1</strong><br>
A heart to be true, A heart to be pure;<br>
A life to commit, With love to endure.<br>
If this kneeling may lead, My heart be re-phased<br>
With full worship, Awe and majestic praise.<br>
(Repeat and sing in a different tune)</p>
<p><strong>Verse 2</strong><br>
A moment like this majestic and grand;<br>
So let me now rise before Your throne stand,<br>
Worshipping You in transcendent praise;<br>
Here, now, proclaim (Your) amazing grace:</p>
<p><strong>Refrain 2</strong><br>
A God who forgives, A God from above<br>
(Yet) A God who can save, A God who does love.<br>
You are the One, I do not deserve;<br>
Yet You are there, Always gracious to me&hellip;</p>
<p>You are the One a God who forgives<br>
A God from above (Yet) a God who can save<br>
You are the One I do not deserve;<br>
Yet You are there always gracious to us.</p>
<p><em>(Lim Kai Seong)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/98/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
