<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 133 - What a Faithful God </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng133"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">133</span
      ><span class="title-text"> - What a Faithful God</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/132/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Lord, I come before Your throne of grace<br>
I find rest in Your presence,<br>
And fullness of Joy<br>
In worship and wonder<br>
I behold Your face<br>
Singing what a faithful God have I</p>
<p><strong>Chorus</strong><br>
What a faithful God have I<br>
What a faithful God<br>
What a faithful God have I<br>
Faithful in every way</p>
<p><strong>Verse 2</strong><br>
Lord of mercy, You have heard my cry<br>
Through the storm Youre the beacon<br>
My song in the night<br>
In the shelter of Your wings<br>
Hear my hearts reply<br>
Singing what a faithful God have I</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Verse 3</strong><br>
Lord all sovereign<br>
Granting peace from heaven<br>
Let me comfort those who suffer<br>
With the comfort You have given<br>
I will tell of Your great love<br>
For as long as i live<br>
Singing what a faithful God have I</p>
<p><strong>(Chorus)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/134/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
