<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 18 - When&#39;er I Call Lord Jesus </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng18"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">18</span
      ><span class="title-text"> - When&#39;er I Call Lord Jesus</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/17/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
When&rsquo;er I call Lord Jesus<br>
Sure it sets my heart aglow;<br>
Just to feel His life arising<br>
That Christ in me may grow.<br>
Just call with us, &ldquo;Lord Jesus&rdquo;<br>
It&rsquo;s the greatest joy on earth!<br>
And then Christ will come into you,<br>
And you&rsquo;ll have another birth.</p>
<p><strong>Verse 2</strong><br>
Just call with us, &ldquo;Lord Jesus&rdquo;<br>
He will surely set you free,<br>
If your heart is far, far from Him<br>
Whenever you may be.<br>
We simply call upon Him,<br>
No matter where we are.<br>
And calling thus, He enters,<br>
Oh, He&rsquo;s never very far.</p>
<p><strong>Verse 3</strong><br>
Just call upon our Saviour,<br>
Sure He&rsquo;ll hear you every time.<br>
Lean your weary head upon Him<br>
And rest in sweet recline.<br>
For He is our strong fortress,<br>
Our peace, our joy, our rest.<br>
When we taste the grace of Jesus,<br>
Sure we&rsquo;re tasting the very best.</p>
<p><strong>Verse 4</strong><br>
The best is just Himself now,<br>
And Himself He freely gave.<br>
So let&rsquo;s open up to Him now,<br>
And by His life be saved.<br>
And when He comes to meet us,<br>
As His bride we&rsquo;ll ready be.<br>
If today He grows within us,<br>
We shall then His glory see.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/19/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
