<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 50 - He Is My Peace </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng50"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">50</span
      ><span class="title-text"> - He Is My Peace</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/49/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse</strong><br>
He is my peace, who has broken down every wall.<br>
He is my peace, He is my peace.<br>
He is my peace, who has broken down every wall.<br>
He is my peace, He is my peace.</p>
<p><strong>Chorus</strong><br>
Cast all your care on Him,<br>
For He careth for you.<br>
He is my peace, He is my peace.<br>
Cast all your care on Him,<br>
For He careth for you.<br>
He is my peace, He is my peace.</p>
<p><em>(Kandy Groves/Ref: Ephesians 2:14; 1 Peter 5:7)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/51/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
