<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 105 - My God Is Real </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng105"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">105</span
      ><span class="title-text"> - My God Is Real</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/104/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
There are some things, I may not know.<br>
There are some places I can’t go.<br>
But I am sure of this one thing,<br>
That God is real for I can feel Him deep within.</p>
<p><strong>Chorus</strong><br>
My God is real, real in my soul.<br>
My God is real for He has washed and made me whole;<br>
His love for me is like pure gold,<br>
My God is real for I can feel Him in my soul.</p>
<p><strong>Verse 2</strong><br>
Some folks may doubt, some folks may scorn;<br>
All can desert and leave me alone.<br>
But as for me, I’ll take God’s part,<br>
For God is real and I can feel Him in my heart.</p>
<p><strong>Verse 3</strong><br>
I cannot tell; just how you felt,<br>
When Jesus took your sins away.<br>
But since that day, yes since that hour,<br>
God has been real for I can feel His Holy Power.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/106/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
