<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 68 - I Do Not Know What Lies Ahead </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng68"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">68</span
      ><span class="title-text"> - I Do Not Know What Lies Ahead</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/67/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I do not know what lies ahead,<br>
The way I cannot see;<br>
Yet One stands near to be my guide,<br>
He’ll show the way to me</p>
<p><strong>Chorus</strong><br>
I know who holds the future,<br>
And He’ll guide me with His hand,<br>
With God things don’t just happen,<br>
Everything by Him is planned;<br>
So as I face tomorrow<br>
With its problems large and small,<br>
I’ll trust the God of miracles,<br>
Give to Him my all.</p>
<p><strong>Verse 2</strong><br>
I do not know how many days<br>
Of life are mine to spend;<br>
But One who knows and cares for me<br>
Will keep me to the end</p>
<p><strong>Verse 3</strong><br>
I do not know the course ahead,<br>
What joys and grieves are there;<br>
But One is near who fully knows,<br>
I’ll trust His loving care</p>
<p><em>(A. B. Smith &amp; E. Clark)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/69/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
