<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 6 - 我已得到真正自由 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi6"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">6</span
      ><span class="title-text"> - 我已得到真正自由</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/5/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>(一)</strong><br>
让我滿怀喜乐告诉你，朋友，<br>
我已得到真正自由，<br>
痛苦、压制、忧愁全都不留，<br>
就在我信主之后；<br>
祂不是信条要我來遵守，<br>
也非诫命对我只要求，<br>
祂是神儿子人心灵拯救，<br>
爱和生命从祂涌流，<br>
祂来解开深牢中苦恼罪囚，<br>
出死入生带我行走。</p>
<p><strong>(二)</strong><br>
我今在蔚蓝天空展翅遨遊，<br>
耶稣是我真正自由，<br>
日复一日在这无边享受，<br>
我心说:“有祂就夠!”<br>
朋友，这样一位何处能有，<br>
祂爱你，已等得好长久，<br>
愿否趁祂胸怀向你敞露，<br>
前来向祂完全倚投，<br>
当你进入神儿女荣耀自由，<br>
你心就不会不歌讴。</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/7/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
