<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 53 - I&#39;ll Never Find A Friend So True </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng53"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">53</span
      ><span class="title-text"> - I&#39;ll Never Find A Friend So True</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/52/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
There’s a new world somewhere<br>
We call the Promise Land,<br>
And I’ll be there someday,<br>
Since Jesus holds my hand.<br>
He is always there beside me<br>
In all things that I do,<br>
For I know I’ll never find a Friend so true.</p>
<p><strong>Chorus</strong><br>
It’s a long, long journey so stay by my side.<br>
When I walk through the storm,<br>
Lord, be my Guide, be my Guide.<br>
If they gave me a fortune,<br>
My pleasure would be small.<br>
I could lose it all tomorrow,<br>
And never mind at all.<br>
But if I should lose my way Lord,<br>
You’ll show me what to do,<br>
For I know I’ll never find a Friend so true.</p>
<p><strong>Verse 2</strong><br>
There is always Jesus<br>
To guide us on the way,<br>
And He’ll lead us someday,<br>
Where angels sing they say.<br>
If I should search the whole world over,<br>
Until life is through,<br>
I do know I’ll never find a Friend so true.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/54/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
