<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 8 - 信的故事 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi8"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">8</span
      ><span class="title-text"> - 信的故事</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/7/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>(一)</strong><br>
初次來这里，听他们在说<br>
耶稣的事迹，未曾闻过，<br>
但在我心坎，有新的感受，<br>
莫名的平安，象股暖流。<br>
我几乎忘记往日的苦恼，<br>
不知已脱离，罪恶的囚牢，<br>
从他们脸上表露的纯真，<br>
我心暗想: 真的有神!</p>
<p><strong>(二)</strong><br>
他们且告诉，神要进我里，<br>
作生命救主，若我愿意，<br>
我眼未看到，对祂又不知，<br>
只觉得需要，不妨一试；<br>
我就从深处，真心转向祂，<br>
喊哦主耶稣，求祂來救拔。<br>
从无一名字如此甘又美，<br>
我享真实，今仍回味。</p>
<p><strong>(三)</strong><br>
脱一身缠累，进入真安息，<br>
不再有定罪，蒙神称义。<br>
我与主联合，祂是我生命，<br>
今向神活着，因信得生；<br>
我在基督里，荣耀又逍遥，<br>
我与祂是一，成为神新造。<br>
哦，这个就是我信的故事，<br>
美妙之至，是爱是诗。</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/9/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
