<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 7 - 当我在黑暗痛苦绝望中 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi7"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">7</span
      ><span class="title-text"> - 当我在黑暗痛苦绝望中</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/6/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>(一)</strong><br>
当我在黑暗痛苦绝望中，<br>
有一曙光明照在我心，<br>
祂是那称为奇妙的救主，<br>
舍弃天上荣华为我降生，<br>
祂又为我被钉在十字架。<br>
情愿受苦洗净我的罪，<br>
我要唱奇妙主哈利路亚，<br>
从今后永不会再绝望。</p>
<p><strong>(副)</strong><br>
祂仁慈善良的爱，<br>
领我冲破狂风巨浪，<br>
主如一颗明亮的晨星，<br>
带给我无限的希望。</p>
<p><strong>(二)</strong><br>
救主耶稣基督被接升天，<br>
祂去原为我预备地方，<br>
就必再来接我到祂父家，<br>
永远与主同在到千万年，<br>
到那时再没有痛苦悲伤，<br>
只有甜美快乐的笑容，<br>
众圣徒同聚在明亮圣城，<br>
滿心歌颂赞美主大恩。</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/8/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
