<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 131 - Behold Our God </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng131"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">131</span
      ><span class="title-text"> - Behold Our God</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/130/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Who has held the oceans in his hands?<br>
Who has numbered every grain of sand?<br>
Kings and nations tremble at his voice<br>
All creation rises to rejoice</p>
<p><strong>Chorus</strong><br>
Behold our God, seated on his throne<br>
Come, let us adore him<br>
Behold our king, nothing can compare<br>
Come, let us adore him</p>
<p><strong>Verse 2</strong><br>
Who has given counsel to the Lord?<br>
Who can question any of his words?<br>
Who can teach, the one who knows all things?<br>
Who can fathom all his wondrous deeds?</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Verse 3</strong><br>
Who has felt the nails upon his hands?<br>
Bearing all the guilt of sinful man<br>
God eternal, humbled to the grave<br>
Jesus, Savior, risen now to reign</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Bridge</strong><br>
You will reign forever (let Your glory fill the Earth)<br>
You will reign forever (let Your glory fill the Earth)<br>
You will reign forever (let Your glory fill the Earth)<br>
You will reign forever (let Your glory fill-)</p>
<p><strong>(Chorus)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/132/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
