<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 123 - I Want To Be Where You Are </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng123"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">123</span
      ><span class="title-text"> - I Want To Be Where You Are</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/122/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I just want to be where You are<br>
Dwelling daily in Your presence<br>
I don&rsquo;t want to worship from afar<br>
Draw me near to where You are</p>
<p><strong>Verse 2</strong><br>
I just want to be where You are<br>
In Your dwelling place forever<br>
Take me to the place where You are<br>
I just want to be with You</p>
<p><strong>Chorus</strong><br>
I want to be where You are, dwelling in Your presence<br>
Feasting at Your table, surrounded by Your glory<br>
In Your presence, that&rsquo;s where I always want to be<br>
I just want to be, I just want to be with You</p>
<p><strong>(Verse 1)</strong></p>
<p><strong>Bridge</strong><br>
Oh my God, You are my strength and my song<br>
And when I&rsquo;m in Your presence<br>
Though I&rsquo;m weak You&rsquo;re always strong</p>
<p><strong>Verse 2a</strong><br>
I just want to be where You are<br>
In Your dwelling place forever<br>
Take me to the place where You are<br>
I just want to be<br>
I just want to be with You</p>
<p>I just want to be<br>
I just want to be with You</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/124/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
