<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 125 - Yet Not I But Through Christ In Me </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng125"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">125</span
      ><span class="title-text"> - Yet Not I But Through Christ In Me</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/124/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
What gift of grace is Jesus my redeemer<br>
There is no more for heaven now to give<br>
He is my joy, my righteousness, and freedom<br>
My steadfast love, my deep and boundless peace<br>
To this I hold, my hope is only Jesus<br>
For my life is wholly bound to His<br>
Oh how strange and divine, I can sing, &ldquo;All is mine&rdquo;<br>
Yet not I, but through Christ in me</p>
<p><strong>Verse 2</strong><br>
The night is dark but I am not forsaken<br>
For by my side, the Saviour He will stay<br>
I labour on in weakness and rejoicing<br>
For in my need, His power is displayed<br>
To this I hold, my Shepherd will defend me<br>
Through the deepest valley He will lead<br>
Oh the night has been won, and I shall overcome<br>
Yet not I, but through Christ in me</p>
<p><strong>Verse 3</strong><br>
No fate I dread, I know I am forgiven<br>
The future sure, the price it has been paid<br>
For Jesus bled and suffered for my pardon<br>
And He was raised to overthrow the grave<br>
To this I hold, my sin has been defeated<br>
Jesus now and ever is my plea<br>
Oh the chains are released, I can sing, &ldquo;I am free&rdquo;<br>
Yet not I, but through Christ in me</p>
<p><strong>Verse 4</strong><br>
With every breath I long to follow Jesus<br>
For He has said that He will bring me home<br>
And day by day I know He will renew me<br>
Until I stand with joy before the throne<br>
To this I hold, my hope is only Jesus<br>
All the glory evermore to Him<br>
When the race is complete, still my lips shall repeat<br>
Yet not I, but through Christ in me</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/126/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
