<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 31 - When I&#39;ve Run The Race Before Me </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng31"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">31</span
      ><span class="title-text"> - When I&#39;ve Run The Race Before Me</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/30/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
When I’ve run the race before me,<br>
And have fought to victory,<br>
I’ll be raptured to the glory of the Lord.<br>
When I’ve kept the faith at any cost<br>
The Holy city then;<br>
I’ll receive as my reward.</p>
<p><strong>Chorus 1</strong><br>
I’ll be raptured into glory<br>
In the Holy City dwell –<br>
New Jerusalem, New Jerusalem.<br>
With the overcomers shouting;<br>
How our praises then will swell,<br>
In the New Jerusalem.</p>
<p><strong>Verse 2</strong><br>
As a pilgrim here I wander;<br>
While afflicted, I rejoice;<br>
For a better land I soon expect to see.<br>
Though all others seek for earthly gain,<br>
The Holy City e’er<br>
Will my aspiration be.</p>
<p><strong>Verse 3</strong><br>
Though my feet are often wearied<br>
On the rough and rugged path,<br>
Just by thinking of that City, I’m restored;<br>
Though my eyes be filled with tears,<br>
My heart will evermore be fixed<br>
On that City, my reward.</p>
<p><strong>Verse 4</strong><br>
With strong purpose I now wrestle,<br>
And I run toward the goal;<br>
I pursue the prize, God’s highest to obtain;<br>
Pressing forward toward the mark,<br>
I run forgetting all behind,<br>
Thus the Holy City gain. (Chorus 2)</p>
<p><strong>Chorus 2</strong><br>
By His love and through His grace I’ll<br>
In the Holy City live –<br>
New Jerusalem, New Jerusalem;<br>
All saints leaping, singing, shouting<br>
To the Lord their praises give,<br>
In the New Jerusalem.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/32/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
