<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 72 - Seek Ye First The Kingdom Of God </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng72"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">72</span
      ><span class="title-text"> - Seek Ye First The Kingdom Of God</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/71/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Seek ye first the Kingdom of God<br>
And His righteousness<br>
And all these things shall be added unto you<br>
Hallelu, Hallelujah.</p>
<p><strong>Verse 2</strong><br>
Man shall not live by bread alone<br>
But by every word<br>
That proceeds from the mouth of God<br>
Hallelu, Hallelujah.</p>
<p><strong>Verse 3</strong><br>
Ask and it shall be given unto you<br>
Seek and you shall find<br>
Knock and it shall be opened unto you<br>
Hallelu, Hallelujah</p>
<p><strong>Chorus</strong><br>
Hallelujah, Hallelujah<br>
Hallelujah, Hallelujah</p>
<p><em>(Karen Laferty / Ref: Matthew 6:33; 7:7)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/73/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
