<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 140 - Come To Jesus </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng140"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">140</span
      ><span class="title-text"> - Come To Jesus</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/139/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Weak and wounded sinner, lost and left to die<br>
O, raise your head for Love is passing by</p>
<p><strong>Chorus 1</strong><br>
Come to Jesus, come to Jesus<br>
Come to Jesus and live</p>
<p><strong>Verse 2</strong><br>
Now your burden&rsquo;s lifted and carried far away<br>
And precious blood has washed away the stain</p>
<p><strong>Chorus 2</strong><br>
So sing to Jesus, sing to Jesus<br>
Sing to Jesus and live</p>
<p><strong>Verse 3</strong><br>
And like a newborn baby, don’t be afraid to crawl<br>
And remember when you walk, sometimes we fall</p>
<p><strong>Chorus 3</strong><br>
So fall on Jesus, fall on Jesus<br>
Fall on Jesus and live</p>
<p><strong>Verse 4</strong><br>
Sometimes the way is lonely and steep and filled with pain<br>
So if your sky is dark and pours the rain</p>
<p><strong>Chorus 4</strong><br>
Then cry to Jesus, cry to Jesus<br>
Cry to Jesus and live</p>
<p><strong>Verse 5</strong><br>
O, and when the love spills over and music fills the night<br>
And when you can&rsquo;t contain your joy inside</p>
<p><strong>Chorus 5</strong><br>
Then dance for Jesus, dance for Jesus<br>
Dance for Jesus and live<br>
Fall on Jesus<br>
Sing to Jesus<br>
And come to Jesus and live</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/141/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
