<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 108 - When It&#39;s All Been Said And Done </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng108"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">108</span
      ><span class="title-text"> - When It&#39;s All Been Said And Done</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/107/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse</strong><br>
When it’s all been said and done<br>
There is just one thing that matters<br>
Did I do my best to live for truth?<br>
Did I live my life for You?</p>
<p>When it’s all been said and done<br>
All my treasures will mean nothing<br>
Only what I’ve done for love’s reward<br>
Will stand the test of time.</p>
<p><strong>Chorus</strong><br>
Lord, Your mercy is so great<br>
That You look beyond our weakness<br>
And find purest gold in miry clay<br>
Turning sinners into saints</p>
<p>I will always sing Your praise<br>
Here on earth and ever after<br>
For You’ve shown me Heaven’s my true home<br>
When it’s all been said and done<br>
You’re my life when life is done.</p>
<p>Lord I’ll live my life for You.</p>
<p><em>(James A. Cowan / “When It’s All Been Said and Done”)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/109/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
