<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 33 - 能不能 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi33"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">33</span
      ><span class="title-text"> - 能不能</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/32/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>我属于祢 祢是我永远的福分<br>
只想日夜在祢殿中献上敬拜<br>
定睛在祢的荣美 世上一切变暗淡<br>
除祢以外 我还能有谁</p>
<p><strong>副：</strong><br>
能不能 就让我留在祢的同在里<br>
能不能 赐我力量让我更多爱祢<br>
我哪都不想去 只想日夜在祢殿中<br>
献上敬拜 全心全意来爱祢</p>
<p>我哪都不想去 只想日夜在祢殿中<br>
献上敬拜 全心全意来爱祢</p>
<p><em>~ English ~</em><br>
Lord I am Yours, You are my portion evermore.<br>
Every night and day, here in Your court, I worship.<br>
Let me gaze upon Your face, all else will fade away.<br>
There’s no one else for me but You.</p>
<p><strong>Chorus:</strong><br>
Let me stay, I want to stay right here in Your embrace.<br>
Let me stay, give me the strength to love You more each day.<br>
There is no other place I would rather be than here, Lord<br>
With all my heart, with all I am, I worship.</p>
<p>There is no other place I would rather be than here, Lord<br>
With all my heart, with all I am, I worship.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/34/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
