<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 34 - Unto Thee O Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng34"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">34</span
      ><span class="title-text"> - Unto Thee O Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/33/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Unto Thee, O Lord, do I lift up my soul. (2x)</p>
<p><strong>Chorus</strong><br>
O my God, I trust in Thee<br>
Let me not be ashamed,<br>
Let not my enemies triumph over me.</p>
<p><strong>Verse 2</strong><br>
Yea, let none that wait, in Thee, be ashamed. (2x)</p>
<p><strong>Verse 3</strong><br>
Show me Thy ways, teach me Thy paths. (2x)</p>
<p><strong>Verse 4</strong><br>
Remember not the sins of my youth. (2x)</p>
<p><strong>Verse 5</strong><br>
All the paths of the Lord are mercy and truth. (2x)</p>
<p><strong>Verse 6</strong><br>
What man is he that feareth the Lord. (2x)</p>
<p><strong>Verse 7</strong><br>
The secret of the Lord, is with them that fear Him. (2x)</p>
<p><strong>Verse 8</strong><br>
Turn Thee unto me and have mercy upon me. (2x)</p>
<p><em>(Composer unknown/Ref: Psalm 25)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/35/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
