<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 74 - You Are My Hiding Place </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng74"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">74</span
      ><span class="title-text"> - You Are My Hiding Place</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/73/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>You are my hiding place,<br>
You always fill my heart with songs<br>
Of deliverance,<br>
Whenever I am afraid I will trust in You,<br>
I will trust in You,<br>
Let the weak say, “I am strong<br>
In the strength of the Lord.”<br>
<strong>(Repeat, then sing last line)</strong></p>
<p>I will trust in you.”</p>
<p><em>(Michael Ledner)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/75/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
