<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 42 - If You&#39;re Feeling Lonely With Many A Care </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng42"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">42</span
      ><span class="title-text"> - If You&#39;re Feeling Lonely With Many A Care</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/41/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
If you&rsquo;re feeling lonely with many a care,<br>
Jesus, Jesus, Jesus is there!<br>
If trouble, confusion puts your life in night,<br>
Jesus, Jesus, Jesus is Light!</p>
<p><strong>Chorus 1</strong><br>
If you turn to Him,<br>
From within,<br>
Burdens He&rsquo;ll share;<br>
It matters not who you are,<br>
Jesus is there.</p>
<p><strong>Verse 2</strong><br>
So don&rsquo;t wait for answers from some place, somehow;<br>
Jesus, Jesus, Jesus is Now!</p>
<p><strong>Chorus 2</strong><br>
If you call on Him,<br>
From within,<br>
You just can&rsquo;t miss!<br>
And when problems torment you,<br>
Just remember this:</p>
<p>In all situations this world can afford,<br>
Jesus, Jesus, Jesus is Lord!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/43/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
