<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 126 - Cornerstone </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng126"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">126</span
      ><span class="title-text"> - Cornerstone</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/125/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
My hope is built on nothing less<br>
Than Jesus&rsquo; blood and righteousness<br>
And I dare not trust the sweetest frame<br>
But wholly trust in Jesus name<br>
<strong>(Repeat Verse 1)</strong></p>
<p><strong>Chorus</strong><br>
Christ alone, cornerstone<br>
Weak made strong in the Savior&rsquo;s love<br>
Through the storm<br>
He is Lord, Lord of all</p>
<p><strong>Verse 2</strong><br>
When darkness seems to hide His face<br>
I rest on His unchanging grace<br>
In every high and stormy gale<br>
My anchor holds within the veil<br>
My anchor holds within the veil</p>
<p><strong>Chorus</strong><br>
Christ alone, cornerstone<br>
Weak made strong in the Savior&rsquo;s love<br>
Through the storm<br>
He is Lord, Lord of all<br>
He is Lord, Lord of all.<br>
<strong>(Repeat Chorus)</strong></p>
<p><strong>Verse 3</strong><br>
When He shall come with trumpet sound<br>
Oh, may I then in Him be found<br>
Dressed in His righteousness alone<br>
Faultless, stand before the throne</p>
<p><strong>(Chorus)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/127/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
