<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 122 - Pass Me Not, O Gentle Saviour </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng122"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">122</span
      ><span class="title-text"> - Pass Me Not, O Gentle Saviour</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/121/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Pass me not, O gentle Saviour -<br>
Hear my humble cry!<br>
While on others Thou art calling,<br>
Do not pass me by.</p>
<p><strong>Refrain</strong><br>
Saviour, Saviour,<br>
Hear my humble cry!<br>
While on others Thou art calling,<br>
Do not pass me by.</p>
<p><strong>Verse 2</strong><br>
Let me at Thy throne of mercy<br>
Find a sweet relief;<br>
Kneeling there in deep contrition -<br>
Help my unbelief.</p>
<p><strong>Verse 3</strong><br>
Trusting only in Thy merit,<br>
Would I seek Thy face;<br>
Heal my wounded, broken spirit,<br>
Save me by Thy grace.</p>
<p><strong>Verse 4</strong><br>
Thou the spring of all my comfort,<br>
More than life to me!<br>
Whom have I on earth beside Thee?<br>
Whom in heav’n but Thee?</p>
<p><em>(Text: Fanny J. Crosby; Music: William H. Doane / Ref: 2 Peter 3:9)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/123/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
