{{ define "main" }}
<div class="header">
  <p class="title"><span class="hl-text">CIS</span> Youth Hymnal</p>
</div>
<section class="section">
  <main>
    <input
      class="input is-primary m-3"
      id="search"
      type="text"
      placeholder="Search"
    />
    {{/* {{ range sort .Site.RegularPages ".File.TranslationBaseName" }} {{
    .Render "listItem" }} {{ end }} */}}
    <ul id="results"></ul>
    <script
      type="text/javascript"
      src='{{ "jquery-3.6.1.min.js" | absURL }}'
    ></script>
    <script type="text/javascript" src='{{ "js/script.js" | absURL }}'></script>
  </main>
</section>
{{ end }}
