{{ define "main" }}
<div class="header">
  <p class="title"><span class="hl-text">CIS</span> Youth Hymnal</p>
</div>
<section class="section">
  <main class="container">
    <input
      class="input is-primary m-3"
      id="search"
      type="text"
      placeholder="Search"
    />
    {{/* {{ range sort .Site.RegularPages ".File.TranslationBaseName" }} {{
    .Render "listItem" }} {{ end }} */}}
    <ul id="results"></ul>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.3.min.js"
    ></script>
    <script type="text/javascript" src="js/script.js"></script>
  </main>
</section>
{{ end }}
