<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 88 - He&#39;s My Best Friend </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng88"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">88</span
      ><span class="title-text"> - He&#39;s My Best Friend</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/87/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
He’s the Word of God. (He’s the Word of God)<br>
He’s the King of Kings. (He’s the King of Kings)<br>
He’s the mighty One. (He’s the mighty One)<br>
Who made everything. (Who made everything)</p>
<p><strong>Chorus</strong><br>
He’s the Alpha and Omega,<br>
The Beginning and the End.<br>
But best of all, You’re my best friend.</p>
<p><strong>Verse 2</strong><br>
He’s the Prince of Peace. (He’s the Prince of Peace)<br>
He’s the Bread of Life. (He’s the Bread of Life)<br>
He’s the Lamb of God, (He’s the Lamb of God)<br>
Who was sacrificed. (Who was sacrificed)</p>
<p><strong>(Chorus)</strong></p>
<p>For all He does, (For all He does)<br>
For all His ways, (For all His ways)<br>
For all He is, (For all He is)<br>
I give Him praise.</p>
<p><strong>Verse 3</strong><br>
He’s the Corner Stone. (He’s the Corner Stone)<br>
He’s the Great I Am. (He’s the Great I Am)<br>
He’s the Lord of Lords, (He’s the Lord of Lords)<br>
Who will come again. (Who will come again)</p>
<p><strong>(Chorus)</strong></p>
<p>For all He does, (For all He does)<br>
For all His ways, (For all His ways)<br>
For all He is, (For all He is)<br>
I give Him praise.</p>
<p><strong>(Repeat Verse 3 and Chorus)</strong></p>
<p><em>(Frank Hernandez)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/89/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
