<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 124 - Restore, O Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng124"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">124</span
      ><span class="title-text"> - Restore, O Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/123/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Restore, O Lord, the honor of Your name,<br>
In works of sov’reign power<br>
Come shake the earth again,<br>
That men may see<br>
And come with rev’rent fear<br>
To the living God<br>
whose kingdom shall outlast the years.</p>
<p><strong>Verse 2</strong><br>
Restore, O Lord, in all the earth Your fame,<br>
And in our time revive<br>
The church that bears Your name.<br>
And in Your anger,<br>
Lord, remember mercy,<br>
O living God<br>
whose mercy shall outlast the years.</p>
<p><strong>Verse 3</strong><br>
Bend us, O Lord, where we are hard and cold,<br>
In Your refiner’s fire<br>
Come purify the gold.<br>
Through suffering comes<br>
And evil crouches near,<br>
Still our living God<br>
Is reigning, He is reigning here.</p>
<p><strong>(Repeat and end with Stanza 1)</strong></p>
<p><em>(Graham Kendrick &amp; Chris Rolinson)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/125/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
