html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f7ff;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

#results li {
  padding: 0;
}

#results li a {
  padding: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #a496ff;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}

.title {
  color: white;
  padding: 1rem;
}

.hl-text {
  color: #ffec96;
}

.content {
  display: flex;
  flex-direction: row;
}
