/* Global */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f7ff;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Phone portrait width */
@media (max-width: 480px) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
}

/* Song List Page */
main {
  text-align: center;
}

.header {
  background-color: #a496ff;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  position: sticky;
  top: 0;
}

.header ::selection {
  background: #ffec96;
  color: #a496ff;
}

/* Phone portrait width */
@media (max-width: 480px) {
  .header {
    font-size: 1.8rem;
  }
}

.with-search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bg {
  position: sticky;
  background-color: #f8f7ff;
  top: 4.85rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#search {
  border: none;
  margin: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 500px; /*Arbitrarily large number to make pill shape */
  color: black;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; /* https://getcssscan.com/css-box-shadow-examples */
  position: sticky;
}

/* Phone portrait width */
@media (max-width: 480px) {
  #search {
    font-size: 1.2rem;
    top: 4.83rem;
  }
}

#search::placeholder {
  color: darkgray;
  font-style: italic;
}

#search:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 12px; /* https://getcssscan.com/css-box-shadow-examples */
}

#results {
  list-style: none;
  margin: 0rem 3rem;
  padding: 0;
  padding-bottom: 0.5rem;
}

#results li {
  margin: 0rem 0rem 0.75rem 0rem;
  display: flex;
  justify-content: center;
}

#results li ::selection {
  background: #ffec96;
}

#results li a {
  padding: 1.25rem;
  display: block;
  height: 100%;
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; /* https://getcssscan.com/css-box-shadow-examples */
  max-width: 576px; /*0.3 * 1920*/
  width: 100%;
}

@media (max-width: 480px) {
  #results {
    margin: 0rem 1rem;
  }

  #results li {
    margin: 0rem 0rem 0.5rem 0rem;
  }

  #results li a {
    padding: 1rem;
  }
}

.hymn-number {
  font-weight: bold;
  min-width: 2.5rem;
  display: inline-block;
}

/* Phone portrait width */
@media (max-width: 480px) {
  .hymn-number {
    min-width: 2rem;
  }
}

/* Lyrics Page */
.btn-back {
  display: flex;
  align-items: center;
  color: white;
  margin: 0rem 0.5rem;
}

.btn-back:hover {
  color: #ffec96;
}

.title {
  color: white;
  margin: 1rem 0rem;
}

/* Phone portrait width */
@media (max-width: 480px) {
  .title {
    margin: 0.7rem 0rem;
  }
  .title-text {
    display: none;
  }
}

.hl-text {
  color: #ffec96;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0rem;
  height: 87.5%; /*TODO: there must be some way to make this dynamic */
}

.lyrics {
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; /* https://getcssscan.com/css-box-shadow-examples */
  width: 100%;
  max-width: 576px; /*0.3 * 1920*/
  overflow-y: scroll;
}

.lyrics::-webkit-scrollbar {
  width: 8px;
}

.lyrics::-webkit-scrollbar-track {
  background-color: transparent;
}

.lyrics::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 500px;
}

.lyrics::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.lyrics ::selection {
  background: #ffec96;
}

/* Phone portrait width */
@media (max-width: 480px) {
  .lyrics {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.btn-prev {
  transform: scaleX(-1);
}

.btn-prev,
.btn-next {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.btn-prev:hover,
.btn-next:hover,
.btn-prev:active,
.btn-next:active {
  background-color: #00000011;
}

.invisible {
  visibility: hidden;
}
