<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 132 - Reconciled </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng132"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">132</span
      ><span class="title-text"> - Reconciled</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/131/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Reconciled, i’m reconciled,<br>
I’m reconciled to God for ever;<br>
know he took away my sin,<br>
I know his love will leave me never.<br>
Reconciled, I am his child,<br>
I know it was on me he smiled;<br>
I’m reconciled, I’m reconciled to God.<br>
Hallelujah!</p>
<p><strong>Verse 2</strong><br>
I’m justified, I’m justified,<br>
it’s just as if I’d never sinned,<br>
and once I knew such guilty fear,<br>
but now I know his peace within me.<br>
Justified, I’m justified,<br>
it’s all because my Jesus died;<br>
I’m justified, I’m justified by God.<br>
Hallelujah!</p>
<p><strong>Verse 3</strong><br>
I’ll magnify, I’ll magnify,<br>
I’ll magnify his name for ever;<br>
wear the robe of righteousness<br>
and bless the name of Jesus, Saviour;<br>
magnify the One who died,<br>
the One who reigns for me on high;<br>
I’ll magnify, I’ll magnify my God.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/133/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
