<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 58 - Once I Thirsted For A Fountain </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng58"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">58</span
      ><span class="title-text"> - Once I Thirsted For A Fountain</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/57/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Once I thirsted for a fountain,<br>
Something deep that would satisfy,<br>
But the fountain that I’d drink from,<br>
Left me searching and still so dry.</p>
<p>Then one day I found Him,<br>
He satisfied my thirst,<br>
Became in me a deeper source<br>
Whence living waters burst.<br>
Now I drink Him!</p>
<p>Jesus, Jesus is my life now,<br>
Jesus, Jesus is my life;<br>
I’m fully satisfied now,<br>
Jesus, Jesus is my life.</p>
<p><strong>Verse 2</strong><br>
After tasting such a fountain,<br>
Longed my heart for a place of springs;<br>
Caught a vision on a mountain,<br>
In Jerusalem’s a gathering.</p>
<p>Then one day He found me,<br>
He brought me to the church,<br>
Pleasures here abound fore’er<br>
I’ve given up my search.<br>
Hallelujah!</p>
<p>Jesus, Jesus is my life now,<br>
Jesus, Jesus is my life.<br>
I’m fully satisfied now,<br>
Jesus, Jesus is my life.</p>
<p><strong>Verse 3</strong><br>
Empty wanderer drop the striving -<br>
Isn’t worth all the troublin’;<br>
Open up your heart believing,<br>
Call “Lord Jesus” and He’ll come in!</p>
<p>Then today you’ll find Him,<br>
And calling on His name,<br>
You’re joined to Him, you’re one with Him -<br>
You’ll never be the same.<br>
You won’t want to!</p>
<p>Jesus, Jesus is my life now,<br>
Jesus, Jesus is my life;<br>
I’m fully satisfied now,<br>
Jesus, Jesus is my life.</p>
<p><em>(Ref: John 4:5-15)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/59/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
