<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 69 - Give Me Oil In My Lamp </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng69"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">69</span
      ><span class="title-text"> - Give Me Oil In My Lamp</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/68/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><h3 id="version-1">Version 1</h3>
<p>Give me oil in my lamp, keep me burning,<br>
Give me oil in my lamp, I pray;<br>
Give me oil in my lamp, keep me burning,<br>
Keep me burning ‘til the break of day:</p>
<p><strong>Chorus</strong><br>
Sing Hosanna! Sing Hosanna!<br>
Sing Hosanna to the King of Kings!<br>
Sing Hosanna! Sing Hosanna!<br>
Sing Hosanna to the King.<br>
<strong>(One group sustain “Sing” while the other sings “Sing Hosanna”)</strong></p>
<h3 id="version-2">Version 2</h3>
<p><strong>Verse 1</strong>: Give me joy in my heart, keep me praising,<br>
<strong>Verse 2</strong>: Give me peace in my heart, keep me resting,<br>
<strong>Verse 3</strong>: Give me love in my heart, keep me serving,</p>
<h3 id="version-3">Version 3</h3>
<p><strong>Verse 1</strong><br>
What a wonderful Saviour is Jesus,<br>
What a wonderful friend is He,<br>
For He left all the glory of heaven,<br>
Came to earth to die on Calvary:<br>
<strong>(Chorus as version 1)</strong></p>
<p><strong>Verse 2</strong><br>
He arose from the grave, Hallelujah,<br>
And He lives never more to die,<br>
At the Father’s right hand interceding,<br>
He will hear and heed our faintest cry:<br>
<strong>(Chorus as version 1)</strong></p>
<p><strong>Verse 3</strong><br>
He is coming some day to receive us,<br>
We’ll be caught up to heaven above,<br>
What a joy it will be to behold Him,<br>
Sing forever of His grace and love:<br>
<strong>(Chorus as version 1)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/70/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
