<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 13 - Lord, Keep My Heart Always True To You </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng13"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">13</span
      ><span class="title-text"> - Lord, Keep My Heart Always True To You</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/12/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Lord, keep my heart always true to You;<br>
Never backsliding, always viewing You;<br>
A heart that is pure, and sees only You;<br>
A heart that loves You, and treasures only You.</p>
<p><strong>Verse 2</strong><br>
Lord, keep my love burning brightly for You;<br>
A love never dwindling, always hot for You;<br>
A love shining brighter all the way for You;<br>
A love so fresh like the day I first touched You.</p>
<p><strong>Verse 3</strong><br>
Lord, take my life, I present it to You;<br>
If I had a thousand I&rsquo;d pour all on You;<br>
Nothing withholding, my all is for You;<br>
My life, and my future, dear Lord, is all for You.</p>
<p><strong>Chorus</strong><br>
Your love constrains me to give my all to You.<br>
Lord I can&rsquo;t help it, my heart is drawn to You;<br>
Oh what a privilege; I give myself to You!<br>
I love You, Lord, dearest Lord,<br>
I love You, I just love You.</p>
<p><em>(Howard Higashi)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/14/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
