<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 64 - Amid The Trials Which I Meet </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng64"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">64</span
      ><span class="title-text"> - Amid The Trials Which I Meet</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/63/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Amid the trials that I meet,<br>
Amid the thorns that pierce my feet,<br>
One thought remains supremely sweet &ndash;<br>
Thou thinkest, Lord, of me!</p>
<p><strong>Chorus</strong><br>
Thou thinkest, Lord, of me!<br>
Thou thinkest, Lord, of me!<br>
What need I fear when Thou art near,<br>
And thinkest, Lord, of me!</p>
<p><strong>Verse 2</strong><br>
The cares of life come thronging fast,<br>
Upon my soul their shadows cast;<br>
Their gloom reminds my heart at last<br>
Thou thinkest, Lord, of me!</p>
<p><strong>Verse 3</strong><br>
Let shadows come, let shadows go,<br>
Let life be bright, or dark with woe,<br>
I am content, for this I know<br>
Thou thinkest, Lord, of me!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/65/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
