<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 44 - A Common Love For Each Other </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng44"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">44</span
      ><span class="title-text"> - A Common Love For Each Other</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/43/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Chorus</strong><br>
A common love for each other,<br>
A common gift to the Savior,<br>
A common bond holding us to the Lord.<br>
A common strength when we’re weary,<br>
A common hope for tomorrow,<br>
A common joy in the truth of God’s Word.</p>
<p><strong>Verse 1</strong><br>
In His family, we can meet each one’s needs,<br>
We can light each one’s path,<br>
We can bear each one’s grief.<br>
As His children,<br>
We can comfort each care,<br>
We can build each one’s faith,<br>
We can work, we can share.</p>
<p><strong>Verse 2</strong><br>
In His family, all the love that we show,<br>
All the help that we give,<br>
All the life we bestow,<br>
As His children,<br>
They’re an off’ring we make,<br>
Not expecting return,<br>
Just a gift for His sake.</p>
<p><em>(C.F. Brown / Ref: Romans 12:4–16)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/45/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
