<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 117 - How Great Is Our God </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng117"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">117</span
      ><span class="title-text"> - How Great Is Our God</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/116/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
The splendor of a King, clothed in majesty<br>
Let all the earth rejoice, all the earth rejoice<br>
He wraps himself in Light, and darkness tries to hide<br>
And trembles at His voice, trembles at His voice</p>
<p><strong>Chorus</strong><br>
How great is our God, sing with me<br>
How great is our God, and all will see<br>
How great, how great is our God</p>
<p><strong>Verse 2</strong><br>
Age to age He stands, and time is in His hands<br>
Beginning and the end, Beginning and the end<br>
The Godhead Three in One, Father, Spirit, Son<br>
The Lion and the Lamb, The Lion and the Lamb</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Bridge</strong><br>
Name above all names<br>
Worthy of our praise<br>
My heart will sing<br>
How great is our God</p>
<p><strong>(Chorus) x 2</strong></p>
<p><em>(Chris Tomlin)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/118/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
