<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 28 - Because He Lives </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng28"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">28</span
      ><span class="title-text"> - Because He Lives</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/27/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
God sent His Son, they called Him Jesus,<br>
He came to love, heal and forgive;<br>
He lived and died, to buy my pardon,<br>
An empty grave is there to prove My Savior lives.</p>
<p><strong>Chorus</strong><br>
Because He lives, I can face tomorrow,<br>
Because He lives, all fear is gone<br>
Because I know (I know) He holds the future<br>
And life is worth the living just because He lives.</p>
<p><strong>Verse 2</strong><br>
The Son of God, He paid my ransom;<br>
Went to the cross, my sins to bear.<br>
No greater love! His life He laid down;<br>
He died for me and thus forever set me free.</p>
<p><strong>Verse 3</strong><br>
Now I serve Him, my living Saviour;<br>
I walk with Him from day to day.<br>
He leads me on the heav’nly pathway;<br>
I know He keeps me in the shadow of His wings.</p>
<p><em>(Stanza 1 &amp; Chorus by Gloria Gaither &amp; William J. Gaithe / Ref: John 14:19)<br>
(Stanza 2 &amp; 3 by S.H. Tow)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/29/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
