<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 113 - Above All </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng113"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">113</span
      ><span class="title-text"> - Above All</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/112/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Above all powers, above all kings,<br>
Above all nature, and all created things;<br>
Above all wisdom and all the ways of man,<br>
You were here before the world began.</p>
<p><strong>Verse 2</strong><br>
Above all kingdoms, above all thrones,<br>
Above all wonders the world has ever known;<br>
Above all wealth and treasures of the earth,<br>
There&rsquo;s no way to measure what You&rsquo;re worth.</p>
<p><strong>Chorus</strong><br>
Crucified, and laid behind a stone<br>
You lived to die, rejected and alone.<br>
Like a rose trampled on the ground,<br>
You took the fall, and thought of me -<br>
Above all.</p>
<p><strong>(Repeat Verses 1 &amp; 2)</strong></p>
<p>Crucified, laid behind a stone.<br>
You lived to die, rejected and alone.<br>
Like a rose trampled on the ground,<br>
You took the fall, and thought of me -<br>
Above all.<br>
Like a rose trampled on the ground,<br>
You took the fall, and thought of me -<br>
Above all.</p>
<p><em>(Lenny Leblanc and Paul Baloche)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/114/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
