<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 54 - Be It Unto Me </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng54"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">54</span
      ><span class="title-text"> - Be It Unto Me</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/53/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Chorus</strong><br>
Be it unto me<br>
According to Your Word,<br>
According to Your promises,<br>
I can stand secure;<br>
Carve upon my heart<br>
The truth that sets me free,<br>
According to Your Word, O Lord,<br>
Be it unto me.</p>
<p><strong>Verse 1</strong><br>
You promised Your blood will deliver,<br>
Lord, we believe it’s true;<br>
You’ve promised us joy like a river,<br>
Lord, we receive it from You.<br>
These things You have spoken and<br>
You’re bringing to pass;<br>
This world’s disappearing,<br>
But Your Word will last.<br>
So, &hellip; <strong>(Chorus)</strong></p>
<p><strong>Verse 2</strong><br>
You promised to car-ry our sor-rows,<br>
Lord, we believe it’s true;<br>
You’ve promised unending tomorrows,<br>
Lord, we receive them from You.<br>
You’ll be our provider,<br>
In Your Word it’s revealed;<br>
By the stripes that you bore, Lord,<br>
We have been healed.<br>
So, &hellip; <strong>(Chorus)</strong></p>
<p><em>(By Don Moen and Claire Cloninger / Ref: Luke 1:38)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/55/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
