<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 15 - God&#39;s Word Is A Lamp Unto My Feet </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng15"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">15</span
      ><span class="title-text"> - God&#39;s Word Is A Lamp Unto My Feet</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/14/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
God&rsquo;s word is a lamp unto my feet<br>
God&rsquo;s word is a light unto my path.<br>
God&rsquo;s word is a lamp unto my feet;<br>
God&rsquo;s word is a light unto my path.</p>
<p><strong>Verse 2</strong><br>
God&rsquo;s word have I hidden in my heart.<br>
That I might not sin against my God.<br>
God&rsquo;s word have I hidden in my heart.<br>
That I might not sin against my God.</p>
<p><strong>Verse 3</strong><br>
God&rsquo;s word is a shining, searching word;<br>
It shows me the secrets of my heart.<br>
God&rsquo;s word is a shining, searching word;<br>
It shows me the secrets of my heart.</p>
<p><strong>Verse 4</strong><br>
God&rsquo;s word is eternal, strong and sure;<br>
God speaks and His word will come to pass.<br>
God&rsquo;s word is eternal, strong and sure;<br>
God speaks and His word will come to pass.</p>
<p><strong>Verse 5</strong><br>
Faith comes from the hearing of God&rsquo;s word;<br>
His word is implanted in my heart.<br>
Faith comes from the hearing of God&rsquo;s word;<br>
His word is implanted in my heart.</p>
<p><strong>Verse 6</strong><br>
God&rsquo;s word is the breathing out of God,<br>
To breath God&rsquo;s own nature into man.<br>
God&rsquo;s word is the breathing out of God,<br>
To breath God&rsquo;s own nature into man.</p>
<p><strong>Verse 7</strong><br>
How sweet are God&rsquo;s word unto my taste,<br>
Yes, sweeter than honey to my mouth.<br>
How sweet are God&rsquo;s word unto my taste,<br>
Yes, sweeter than honey to my mouth.</p>
<p><strong>Verse 8</strong><br>
God&rsquo;s word is the true and living word-<br>
The joy and rejoicing of my heart!<br>
God&rsquo;s word is the true and living word-<br>
The joy and rejoicing of my heart!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/16/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
