<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 48 - Step By Step </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng48"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">48</span
      ><span class="title-text"> - Step By Step</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/47/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
‘Tis so sweet to walk with Jesus,<br>
Step by step and day by day;<br>
Stepping in His very footprints,<br>
Walking with Him all the way.</p>
<p><strong>Chorus</strong><br>
Step by step, step by step,<br>
I would walk with Jesus,<br>
All the day, all the way,<br>
Keeping step with Jesus.</p>
<p><strong>Verse 2</strong><br>
‘Tis so safe to walk with Jesus,<br>
Leaning hard upon His arm,<br>
Following closely where He leads us,<br>
None can hurt and naught can harm.</p>
<p><strong>Verse 3</strong><br>
Step by step I’ll walk with Jesus,<br>
Just a moment at a time,<br>
Heights I have not wings to soar to,<br>
Step by step my feet can climb.</p>
<p><strong>Verse 4</strong><br>
All the way I’ll walk with Jesus,<br>
Through the sunshine, through the gloom,<br>
Though His blood-marked steps may lead me<br>
To the garden, to the tomb.</p>
<p><strong>Verse 5</strong><br>
Here a while we walk with Jesus,<br>
But the time will not be long<br>
Till the night shall change to morning,<br>
And the sorrow into song.</p>
<p><strong>Verse 6</strong><br>
Then, with all who walked with Jesus,<br>
We shall walk with Him in white,<br>
While He turns our grief to gladness,<br>
And our darkness into light.</p>
<p><strong>Verse 7</strong><br>
Jesus, keep me closer – closer,<br>
Step by step, and day by day;<br>
Stepping in Thy very footprints,<br>
Walking with Thee all the way.</p>
<p><em>(Albert B. Simpson)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/49/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
