<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 33 - I Know Who Holds Tomorrow </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng33"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">33</span
      ><span class="title-text"> - I Know Who Holds Tomorrow</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/32/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I don’t know about tomorrow,<br>
I just live from day to day;<br>
I don’t borrow from its sunshine,<br>
For its skies may turn to gray;<br>
I don’t worry o’er the future,<br>
For I know what Jesus said,<br>
And today I’ll walk beside Him,<br>
For He knows what is ahead.</p>
<p><strong>Chorus</strong><br>
Many things about tomorrow<br>
I don’t seem to understand;<br>
But I know who holds tomorrow,<br>
And I know who holds my hand.</p>
<p><strong>Verse 2</strong><br>
I don’t know about tomorrow,<br>
It may bring me poverty;<br>
But the One who feeds the sparrow,<br>
Is the One who stands by me.<br>
And the path that be my portion,<br>
May be through the flame or flood,<br>
But His presence goes before me,<br>
And I’m covered with His blood.</p>
<p><strong>Verse 3</strong><br>
Every step is getting brighter<br>
As the golden stairs I climb;<br>
Every burden’s getting lighter,<br>
Every cloud is silver lined.<br>
There the sun is always shining,<br>
There no tear will dim the eye;<br>
At the ending of the rainbow,<br>
Where the mountains touch the sky.</p>
<p><em>(Ira F. Stanphill)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/34/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
