<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 90 - People Need The Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng90"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">90</span
      ><span class="title-text"> - People Need The Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/89/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Everyday, they pass me by<br>
I can see it in their eyes.<br>
Empty people filled with care,<br>
Headed who knows where.<br>
On they go through private pain,<br>
Living fear to fear.<br>
Laughter hides the silent cries,<br>
Only Jesus hears.</p>
<p><strong>Chorus</strong><br>
People need the Lord, <strong>(2x)</strong><br>
At the end of broken dreams,<br>
He’s the open door.<br>
People need the Lord, <strong>(2x)</strong><br>
When will we realize?<br>
People need the Lord.</p>
<p><strong>Verse 2</strong><br>
We are called to take His light<br>
To a world where wrong seems right.<br>
What could be too great a cost<br>
For sharing life with one who’s lost?<br>
Through His love our hearts can feel,<br>
All the grief they bear.<br>
They must hear the words of life;<br>
Only we can share.</p>
<p><strong>Chorus</strong><br>
People need the Lord, <strong>(2x)</strong><br>
At the end of broken dreams,<br>
He’s the open door.<br>
People need the Lord, <strong>(2x)</strong><br>
When will we realize?<br>
That we must give our lives<br>
For people need the Lord<br>
People need the Lord. <strong>(slower as finale)</strong></p>
<p><em>(Phil McHugh and Greg Nelson)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/91/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
