<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 138 - My Labour Is Not In Vain </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng138"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">138</span
      ><span class="title-text"> - My Labour Is Not In Vain</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/137/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
My work in Christ is not in vain<br>
My labor will not fail<br>
For when I toil in Jesus' name<br>
His purpose will prevail</p>
<p><strong>Verse 2</strong><br>
The tasks that You have set for me<br>
I may not understand<br>
Yet I will follow where You lead<br>
I trust Your sovereign hand</p>
<p><strong>Chorus</strong><br>
So may all I do, be it great or small<br>
Bring glory to Your name<br>
In Your grace alone I will carry on<br>
Your promise to me remains<br>
My labor is not in vain</p>
<p><strong>Verse 3</strong><br>
Go forth, You said, take up your cross<br>
And set the captive free<br>
So give me feet to seek the lost<br>
Just as You searched for me</p>
<p><strong>(Chorus)</strong></p>
<p><strong>Verse 4</strong><br>
Take heart, my soul, and persevere<br>
Just as your Savior did<br>
For soon you will be home at rest<br>
Your work complete in Him</p>
<p><strong>(Chorus x2)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/139/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
