<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 103 - More Of Our Hearts </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng103"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">103</span
      ><span class="title-text"> - More Of Our Hearts</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/102/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
More of our hearts, dear Lord,<br>
We’d give You now;<br>
Even more ground to You, Lord, we’d allow.<br>
All that distracts us we’d despise,<br>
All that draws away our eyes –<br>
Lord, do fill our vision<br>
’Till the morning star has risen!<br>
We would count all things loss, but Jesus gain,<br>
Our inward parts cry out for You to reign.<br>
Worthy You are our hearts to claim –<br>
Come, engrave on us Your name,<br>
We would love you, Jesus, more.</p>
<p><strong>Verse 2</strong><br>
Less we would argue, Lord,<br>
And go our way.<br>
More we would say “Amen” to what You say.<br>
Grant us a walk to You conformed,<br>
’Till our living is transformed<br>
We adore You, Jesus –<br>
May a pure love for You seize us.<br>
Any unwillingness, Lord, quickly slay,<br>
Even by faith we open, all the way –<br>
Rising to heights of love unknown,<br>
Christ our destiny alone,<br>
We would love you, Jesus, more.</p>
<p><em>(From Youth Hymnbook #259 from the Church in Fountain Valley)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/104/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
