<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 101 - Lord, Now I See </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng101"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">101</span
      ><span class="title-text"> - Lord, Now I See</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/100/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Lord, now I see –<br>
You only want me to believe.<br>
Not to dwell<br>
In all my failures and defeats,<br>
To believe what You have done,<br>
Not in what I see.</p>
<p><strong>Verse 2</strong><br>
Lord, I believe<br>
When all around me is defeat,<br>
And it seems<br>
That nothing’s changing outwardly,<br>
No, I’m not discouraged<br>
I’m believing You.</p>
<p><strong>Verse 3</strong><br>
Yes, I believe,<br>
And there is no demand on me.<br>
Simple faith;<br>
Yes, that is all You want from me.<br>
Free from anxious doubting,<br>
I’m free to just believe.</p>
<p><strong>Verse 4</strong><br>
Believing You<br>
Because Lord, You are my success.<br>
When I fail,<br>
All I must do is just confess<br>
And go on enjoying You.<br>
I love believing You.</p>
<p><em>(From Youth Hymnbook #216 from the Church in Fountain Valley)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/102/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
