<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 110 - Who Can Fathom? </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng110"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">110</span
      ><span class="title-text"> - Who Can Fathom?</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/109/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Who can stand, who can stand?<br>
Before the anger of the Lord<br>
Who can shout, who can say?<br>
“I have no need of God”?</p>
<p>Who can fathom the power of His might?<br>
The greatness of His strike,<br>
the force of His right hand?<br>
Who can fathom the potter’s way with His clay?<br>
Who can stand against You Lord?</p>
<p><strong>Verse 2</strong><br>
Do we know or understand?<br>
The depth of the Love of God?<br>
Do we dare, can we say?<br>
“I have no need of His Love”?</p>
<p>Who can fathom the splendor of His Love?<br>
The visits of His grace, the saving by His hand?<br>
Who can fathom the thoughts of His mind?<br>
They are too wonderful for me!</p>
<p><strong>Refrain</strong><br>
May I start afresh<br>
Before You my Lord<br>
May I now confess<br>
I am nothing before You my God:<br>
Your word has promised;<br>
If I will return -<br>
Then You will return<br>
And restore me again.</p>
<p>Who can fathom the splendor of His Love?<br>
The visits of His grace, the saving by His hand?<br>
Who can fathom the thoughts of His mind?<br>
They are too wonderful for me!</p>
<p><em>(Lim Kai Seong)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/111/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
