<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 10 - O Lord, We&#39;re Just For Your Flowing! </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng10"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">10</span
      ><span class="title-text"> - O Lord, We&#39;re Just For Your Flowing!</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/9/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
There&rsquo;s a life that&rsquo;s deeper than our mind<br>
With experience of man, yet so divine.<br>
It&rsquo;s a life that knows no bounds;<br>
And with glory is crowned;<br>
It&rsquo;s of depth and height and breadth unsearchable.<br>
Now this life is just the living one<br>
Manifested in the Person of the Son.<br>
As the Spirit, He flows;<br>
In our spirit He grows,<br>
Growing up to be the Church that He desires.</p>
<p><strong>Chorus</strong><br>
O Lord, we&rsquo;re just for Your flowing;<br>
How we need a deeper knowing!<br>
Life is why we&rsquo;re here<br>
And why You&rsquo;ve come in us.<br>
Turn us, Lord, turn us now;<br>
Turn us deeply - life is how<br>
You will get the Church,<br>
The home You&rsquo;re longing for.</p>
<p><strong>Verse 2</strong><br>
In the Church, we all can apprehend<br>
All the riches of this life that is within.<br>
Not just shallowness with strife,<br>
But a deep and peaceful life,<br>
Is just waiting to flow out, a living spring.<br>
With the saints it&rsquo;s easy to be bold,<br>
To pursue this life, to gain it, to lay hold.<br>
All the other things we find,<br>
Must be quickly left behind,<br>
So that only life remains for us to see.</p>
<p><strong>Verse 3</strong><br>
Deeper, Lord, our turn must be to You;<br>
We would move by life in everything we do:<br>
All our concept refute,<br>
For Your life be absolute -<br>
Grant us grace to turn much deeper day by day.<br>
When we touch our spirit - such a thrill!<br>
This is far beyond emotion, mind and will<br>
It&rsquo;s within our hidden part.<br>
Come, make home in all our heart;<br>
Let Your presence flow as rivers deep within.</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/11/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
