<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 141 - Living Hope </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng141"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">141</span
      ><span class="title-text"> - Living Hope</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/140/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
How great the chasm that lay between us<br>
How high the mountain I could not climb<br>
In desperation, I turned to heaven<br>
And spoke Your name into the night</p>
<p><strong>Verse 2</strong><br>
Then through the darkness<br>
Your loving kindness<br>
Tore through the shadows of my soul<br>
The work is finished, the end is written<br>
Jesus Christ, my living hope</p>
<p><strong>Verse 3</strong><br>
Who could imagine so great a mercy?<br>
What heart could fathom such boundless grace?<br>
The God of ages stepped down from glory<br>
To wear my sin and bear my shame<br>
The cross has spoken, I am forgiven<br>
The king of kings calls me His own<br>
Beautiful savior, I&rsquo;m Yours forever<br>
Jesus Christ, my living hope<br>
Hallelujah, praise the One who set me free</p>
<p><strong>Chorus</strong><br>
Hallelujah, death has lost its grip on me<br>
You have broken every chain<br>
There&rsquo;s salvation in Your name<br>
Jesus Christ, my living hope<br>
Hallelujah, praise the One who set me free<br>
Hallelujah, death has lost its grip on me<br>
You have broken every chain<br>
There&rsquo;s salvation in Your name<br>
Jesus Christ, my living hope</p>
<p><strong>Verse 4</strong><br>
Then came the morning that sealed the promise<br>
Your buried body began to breathe<br>
Out of the silence, the roaring lion<br>
Declared the grave has no claim on me<br>
Then came the morning that sealed the promise<br>
Your buried body began to breathe<br>
Out of the silence, the roaring lion<br>
Declared the grave has no claim on me<br>
Jesus, Yours is the victory</p>
<p><strong>(Chorus x2)</strong></p>
<p>Jesus Christ, my living hope<br>
Oh God, You are my living Hope</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/142/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
