<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 36 - 我献上自己 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi36"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">36</span
      ><span class="title-text"> - 我献上自己</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/35/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>(一)</strong><br>
主 我愿更深认识祢 主 我愿遵行祢旨意<br>
负祢的轭 学祢的样式 背起十架跟随祢</p>
<p><strong>(二)</strong><br>
主 我愿一生敬拜祢 主 我愿尊荣祢圣名<br>
如同香膏为祢倾倒 满足祢心意</p>
<p><strong>(副)</strong><br>
让世人得见祢荣美 让世人得听祢声音<br>
让世人得尝祢救恩 我献上自己</p>
<p><strong>(三)</strong><br>
主 我愿更加亲近祢 主 我愿贴近祢的心<br>
愿祢荣耀在我身彰显 愿祢国度降临</p>
<p><strong>(副)</strong><br>
让世人得见祢荣美 让世人得听祢声音<br>
让世人得尝祢救恩 我献上自己，我献上自己！</p>
<p><em>~ English ~</em><br>
<strong>Verse 1</strong><br>
Lord, it’s You that I want to know,<br>
Going where You would have me go,<br>
Learning Your ways and bearing Your yoke,<br>
Carrying my cross after You!</p>
<p><strong>Verse 2</strong><br>
All my life I will worship You,<br>
Giving all glory unto You,<br>
Pouring myself like fragrant perfume,<br>
Lord, Your will I shall do!</p>
<p><strong>Chorus</strong><br>
So that all may know Your story,<br>
Hear Your voice and taste Your grace,<br>
So that all may see Your glory,<br>
Lord, make use of me!</p>
<p><strong>Verse 3</strong><br>
Draw me near, nearer unto You,<br>
Let my heart join itself to You.<br>
Lord, in my life may Your light shine through;<br>
May Your kingdom come soon!</p>
<p><strong>Chorus</strong><br>
So that all may know Your story,<br>
Hear Your voice and taste Your grace,<br>
So that all may see Your glory,<br>
Lord, make use of me!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/37/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
