<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 143 - Jesus Loves Me, This I Know </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng143"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">143</span
      ><span class="title-text"> - Jesus Loves Me, This I Know</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/142/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Jesus loves me, this I know,<br>
for the Bible tells me so.<br>
Little ones to Him belong;<br>
they are weak, but He is strong</p>
<p><strong>Refrain</strong><br>
Yes, Jesus loves me! Yes, Jesus loves me!<br>
Yes, Jesus loves me!<br>
The Bible tells me so</p>
<p><strong>Verse 2</strong><br>
Jesus loves me He who died<br>
Heaven&rsquo;s gate to open wide<br>
He will wash away my sin,<br>
let His little child come in</p>
<p><strong>(Refrain)</strong></p>
<p><strong>Verse 3</strong><br>
Jesus loves me, this I know,<br>
as He loved so long ago,<br>
taking children on His knee,<br>
saying, &ldquo;Let them come to Me&rdquo;</p>
<p><strong>(Refrain)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/144/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
