<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 41 - Thank You Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng41"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">41</span
      ><span class="title-text"> - Thank You Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/40/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I thank You, Lord,<br>
For the trials that come my way,<br>
In that way I can grow each day,<br>
As I let You lead;<br>
And I thank You Lord,<br>
For the patience those trials bring,<br>
In the process of growing, I can learn to care.</p>
<p><strong>Chorus</strong><br>
But it goes against the way I am,<br>
To put my human nature down,<br>
And let the Spirit take control, of all I do;<br>
&lsquo;Cause when those trials come,<br>
My human nature shouts the things to do,<br>
And God&rsquo;s soft prompting can be easily ignored</p>
<p><strong>Verse 2</strong><br>
But I thank You, Lord,<br>
With each trial I feel inside;<br>
That You&rsquo;re there to help, lead and guide<br>
Me away from wrong;<br>
&lsquo;Cause You’ve promised, Lord,<br>
That with every testing,<br>
That Your way of escaping is easier to bear.</p>
<p><strong>Verse 3</strong><br>
Yes, I thank You, Lord,<br>
For the vict&rsquo;ry that growing brings<br>
In surrender of everything,<br>
Life is so worthwhile;<br>
And I thank You, Lord,<br>
That when everything&rsquo;s put in place,<br>
Out in front I can see Your face<br>
And it&rsquo;s there You belong.</p>
<p><em>(Dan Burges)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/42/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
