<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 130 - Amazing Grace (My Chains Are Gone) </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng130"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">130</span
      ><span class="title-text"> - Amazing Grace (My Chains Are Gone)</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/129/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Amazing grace, how sweet the sound<br>
That saved a wretch like me<br>
I once was lost, but now I&rsquo;m found<br>
Was blind, but now I see</p>
<p><strong>Verse 2</strong><br>
&lsquo;Twas grace that taught my heart to fear<br>
And grace my fears relieved<br>
How precious did that grace appear<br>
The hour I first believed</p>
<p><strong>Chorus</strong><br>
My chains are gone, I&rsquo;ve been set free<br>
My God, my Savior has ransomed me<br>
And like a flood His mercy reigns<br>
Unending love, amazing grace</p>
<p><strong>Verse 3</strong><br>
The Lord has promised good to me<br>
His word my hope secures<br>
He will my shield and portion be<br>
As long as life endures</p>
<p><strong>(Chorus) x2</strong></p>
<p><strong>Verse 4</strong><br>
The earth shall soon dissolve like snow<br>
The sun forbear to shine<br>
But God who called me here below<br>
Will be forever mine<br>
Will be forever mine<br>
You are forever mine</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/131/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
