<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 127 - Shout To The Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng127"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">127</span
      ><span class="title-text"> - Shout To The Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/126/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
My Jesus, my Savior<br>
Lord there is none like You<br>
All of my days, I want to praise<br>
The wonders of Your mighty love<br>
My Comfort, my Shelter<br>
Tower of Refuge and Strength<br>
Let every breath, all that I am<br>
Never cease to worship You</p>
<p><strong>Chorus</strong><br>
Shout to the Lord All the earth let us sing<br>
Power and majesty Praise to the King<br>
Mountains bow down And the sea will roar<br>
At the sound of Your Name</p>
<p>I sing for joy at the work of Your hands<br>
Forever I’ll love You, forever I’ll stand<br>
Nothing compares to the promise I have in You.</p>
<p><strong>Verse 2</strong><br>
My Jesus, my Savior<br>
Lord there is none like You<br>
All of my days, I want to praise<br>
The wonders of Your mighty love<br>
My Comfort, my Shelter<br>
Tower of Refuge and Strength<br>
Let every breath, all that I am<br>
Never cease to worship You</p>
<p><strong>(Chorus)</strong></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/128/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
