<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 66 - Trust In The Lord </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng66"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">66</span
      ><span class="title-text"> - Trust In The Lord</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/65/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Trust in the Lord, and do not be discouraged,<br>
Trust in the Lord, and stop that feeling blue,<br>
Trust in the Lord and you will be encouraged,<br>
For Jesus cares for you.</p>
<p><strong>Verse 2</strong><br>
Trust in the Lord, and not in any fable,<br>
Trust in the Lord, and find Him wholly true,<br>
Trust in the Lord, and know that He is able<br>
To fill your whole life through.</p>
<p><strong>Verse 3</strong><br>
Trust in the Lord, and not in men or nation,<br>
Trust in the Lord, as Saviour, Lord and King,<br>
Trust in the Lord for full and free salvation,<br>
And lift your heart and sing.</p>
<p><strong>Verse 4</strong><br>
Trust in the Lord, faith is a great adventure,<br>
Trust in the Lord, and never cease to pray,<br>
Trust in the Lord, for all the unknown future,<br>
Today and every day!</p>
<p><em>(R. McCurdy Jones)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/67/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
