<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 45 - Father, I Thank You </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng45"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">45</span
      ><span class="title-text"> - Father, I Thank You</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/44/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
Father, I thank You for all that You&rsquo;ve done.<br>
You gave Your Son freely for me.<br>
And I praise You for calling me, drawing me near.<br>
Out of blindness You caused me to see.</p>
<p><strong>Verse 2</strong><br>
Spirit of life, You are God&rsquo;s holy fire.<br>
You&rsquo;ve kindled my heart with Your blaze.<br>
And I know You&rsquo;re refining me, changing my life.<br>
And by faith You&rsquo;re revealing Your ways.</p>
<p><strong>Verse 3</strong><br>
Jesus, I need You as Lord of my life.<br>
I give all I have unto You.<br>
Lord, I want to come under Your heavenly hand,<br>
And to praise You in all that I do.</p>
<p><em>(Steven Stewart)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/46/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
