<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 5 - I&#39;m Gonna Praise God Unceasingly </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#eng5"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      English
      
      <span class="hl-text">5</span
      ><span class="title-text"> - I&#39;m Gonna Praise God Unceasingly</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/english/4/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p><strong>Verse 1</strong><br>
I&rsquo;m gonna praise God unceasingly<br>
Because He lives in me,<br>
He&rsquo;s everything to me,<br>
Gives life continually.<br>
I&rsquo;m gonna praise God unceasingly<br>
Because He lives in me,<br>
And He will never leave.</p>
<p><strong>Chorus</strong><br>
Now in our spirit we can feed,<br>
Jesus Christ is all we need,<br>
Call His name and He becomes reality.<br>
Open up your mouth and you will see,<br>
Just how rich our Lord can be.<br>
He&rsquo;s the very life-supply, complete is He.</p>
<p><strong>Verse 2</strong><br>
Now I live by the tree of life,<br>
His fruit does nourish me,<br>
O how it strengthens me,<br>
I&rsquo;ll live eternally.<br>
Now I live by the tree of life,<br>
Him daily I apply,<br>
He is my food supply.</p>
<p><strong>Verse 3</strong><br>
There&rsquo;s a river of life in me,<br>
Flowing so livingly,<br>
Moving continually,<br>
He just keeps flooding me.<br>
There&rsquo;s a river of life in me,<br>
He&rsquo;s always filling me,<br>
His name is Jesus Christ!</p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/english/6/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
