<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href='https://youthhymns.church.org.sg/icons/favicon-196.png'
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='https://youthhymns.church.org.sg/styles.css' />
    <link rel="manifest" href='https://youthhymns.church.org.sg/manifest.json' />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 4 - 得我们全心 </title>
  </head>

  <body>
    


<div class="box">
  <div class="header">
    <a class="btn-back" href="../../#chi4"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
    <p class="title">
      Chinese
      
      <span class="hl-text">4</span
      ><span class="title-text"> - 得我们全心</span>
    </p>
  </div>

  <section class="content">
    
    <a
      class="btn-prev"
      hx-get="https://youthhymns.church.org.sg/chinese/3/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    

    <div class="lyrics"><p>主耶稣！ 得我们全心，<br>
祢是我们唯一所爱。<br>
主，保守我们心单纯，<br>
爱祢和祢教会。<br>
主啊！在我们里更多长大并扩增；<br>
建造祢曾舍命，心爱荣耀教会；<br>
向祢活着，为祢受苦<br>
何荣耀！ 何喜乐！<br>
哦主！ 我们是祢繁殖，<br>
是祢教会，是祢国度。</p>
<p>愿我们活在国度里，<br>
为祢权益争战。<br>
主啊！愿祢恢复能加快，往前，扩展；<br>
愿祢灯台照耀在全地各城里；<br>
我们不怕凶恶艰苦，<br>
因祢立在身旁。</p>
<p><em>(英文 54)</em></p>
</div>
    
    <a
      class="btn-next"
      hx-get="https://youthhymns.church.org.sg/chinese/5/"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="false"
      ><span class="material-symbols-outlined"> arrow_forward_ios </span></a
    >
    
    <script type="text/javascript" src='https://youthhymns.church.org.sg/js/resize.js'></script>
  </section>
</div>

  
  </body>
</html>
